---
page-class: page--static
---
{% include head.html %}

<div class="section-title">
	<h2  class="section-title__item">Tristique Malesuada Cursus Fusce Dapibus</h2>
	
	<!-- Default Button -->
	<button class="section-title__item  button  button--primary  button--small  ">.button--primary.button--small</button>
		
	<!-- Allow the following additional button classes: button--secondary  button--subtle  -->
	
	<!-- Example: Secondary Button -->
	<button class="section-title__item  button  button--secondary  button--small">.button--secondary.button--small</button>	
</div>