---
page-class: page--static
---
{% include head.html %}

<!--  

  002 - SECTION TITLE 

  -->

<!--This ul is not part of the component but the wrapper it will be placed inside-->
<ul class="nav right-nav">
	
	
	<!-- The search will be wrapped in an li since it is apart of the navigation -->
	<li class="spoken-form  nav__item">
	
		<!--The search itself-->
		<form class="primary-search  js-primary-search"  method="get"  name="search" action="#" onsubmit="javascript:setPubWebSearch(this.site);">
		
			<!-- Search input field -->
			<input name="ssUserText" class="search-field  text-input" placeholder="Search" type="search" />
		
			<!-- Search icon -->
			<button class="search-button  button--icon" value="" type="submit"><i class="icon-search"></i></button>

			<!-- Dropdown open button -->
			<a href="#" class="primary-search--options  js-search-menu  button--icon"><i class="icon-down-arrow"></i></a>	
			<input id="Query" type="hidden" name="Query" value="#">
			<!-- The dropdown search items -->
			<ul id="search-dropdown" class="primary-search--dropdown   js-search-content  bare-list">
				<li>
					<a id="cru" onclick="chooseSearch('cru','give','default_collection');">This Site</a>
				</li>
				<li>
					<a id="give" onclick="chooseSearch('give','cru','default_collection');" class="selected">Give to Staff, Ministries</a>
				</li>
			</ul>
		
		</form>
		<!-- end form.spoken-form -->
	
	</li>	
	
</ul>

{% include footer.html %}
