---
page-class: page--static
---
{% include head.html %}

<!--

  003 - MAIN NAVIGATION

  -->


<!-- The primary header -->
<header class="site-header"  role="banner">
  <hgroup class="title-group  site-logo">
    <a href="#"  title="Return to Homepage">
      <h1><span class="accessibility">Cru : a caring community passionate about connecting people to Jesus Christ</span></h1>
    </a>
  </hgroup>
  <a href="#off-canvas"  id="nav-open-btn"  class="topbar-toggle  topbar-open  nav-link  nav-link--full  position--absolute">Menu
    <i class="icon-hamburger"></i>
  </a>
</header>
<!-- End primary header -->



<!-- Navigation for off canvas and primary navigaiton: This is at the very bottom of the page -->
<nav  id="nav" class="navigation ">
<ul class="nav  right-nav ">

  <li class="nav__item">
    <a class="nav-link" href="#signup">Sign Up</a>
  <li class="nav__item">
    <a class="nav-link" href="#">Log In</a>
  </li>

  <!--Search-->
  <li class="spoken-form  nav__item">
    <form class="primary-search  js-primary-search"  method="get"  name="search">
      <input class="search-field  text-input" placeholder="Search" type="search" />
      <button class="search-button  button--icon" value="" type="submit"><i class="icon-search"></i></button>
      <a href="#" class="primary-search--options  js-search-menu  button--icon"><i class="icon-down-arrow"></i></a>
      <ul id="search-dropdown" class="primary-search--dropdown   js-search-content  bare-list">
        <li>
          <a href="">This Site</a>
        </li>
        <li>
          <a href="">Give to Staff, Ministries</a>
        </li>
      </ul>
    </form>
  </li>

  <!--Search - END-->
</ul>
<div class="navigation js-dropdown">
<ul class="nav  site-nav">

    <li class="dropdown__item">
      <a href="#"  class="">How to Know God</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">Train & Grow</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">Opportunities</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">Communities</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">About</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">Store</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>
    <li class="dropdown__item">
      <a href="#"  class="">Give</a>
      <div class="dropdown  dropdown__item">

        <div class="">
          <ul class="nav  grid">
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Know God Personally</a>
              <a href="#">Jesus and the Intellectual</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Who is Jesus?</a>
              <a href="#">My Story</a>
            </li>
            <li class="grid__item  one-third  dropdown--column">
              <a href="#">Did Jesus Rise from the Dead?</a>
            </li>
          </ul>
        </div>

      </div><!---->
    </li>



</ul>
</div>
    {% include footer.html %}
