---
page-class: page--static
---
{% include head.html %}

<!-- Default align middle -->
<div class="social  center-block">
  <ul class="nav">
    <li>
			<a class="social__item  social__item--twitter  icon-twitter" href="#"></a>
		</li>
    <li>
			<a class="social__item  social__item--facebook  icon-facebook" href="#"></a>
		</li>
    <li>
			<a class="social__item  social__item--gplus  icon-gplus" href="#"></a>
		</li>
  </ul>
</div>


<!-- Left Align -->
<div class="social">
  <ul class="nav">
    <li>
			<a class="social__item  social__item--twitter  icon-twitter" href="#"></a>
		</li>
    <li>
			<a class="social__item  social__item--facebook  icon-facebook" href="#"></a>
		</li>
    <li>
			<a class="social__item  social__item--gplus  icon-gplus" href="#"></a>
		</li>
  </ul>
</div>