---
page-class: page--static
---
{% include head.html %}

<!--  

  005 - HOME SOCIAL COMPONENT

  -->

    <div class="center--block  color-white">
      <div class="layout--cap">
        <ul class="nav  push-half--sides">
          <li>
            <div class="push-third--right  fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          </li>
          <li>
            <a href="https://twitter.com/crutweets" class="twitter-follow-button  push-fourth--right" data-show-count="false" data-lang="en">Follow @crutweets</a>
            
          </li>
          <li>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </li>

          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </ul>
      </div>
    </div>