---
page-class: page--static
---
{% include head.html %}


<ul class="content-slider">
	
	<div class="slider">
		<!-- .mask -->
		<div class="mask">
	    <ul>
	
	      <li class="slider__item  slider1  js-slider1">
	        <a href="#camera">
	          <div class="block-image">
	            <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_01.jpg')"></div>
	          </div>
	          <div class="article-details">
							<h3 class="affordance">6 Things Every Christian Should Do Superbowl Weekend</h3>
	          </div>
	        </a>
	      </li>
	
	      <li class="slider__item  slider2  js-slider2">
	        <a href="#birds">
	          <div class="block-image">
	            <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_02.jpg')"></div>
	          </div>
	          <div class="article-details">
	             	<h3 class="affordance">Emma Had a Burden of Guilt and a Masking Smile</h3>
	          </div>
	        </a>

	      </li>
	      <li class="slider__item  slider3  js-slider3">
	        <a href="#train">
	          <div class="block-image">
	            <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_03.jpg')"></div>
	          </div>
	          <div class="article-details">
	             	<h3 class="affordance">Pre-cancer Susie's Journey of Doubt Before a Brain Tumor</h3>
	          </div>
	        </a>
	      </li>
	      <li class="slider__item  slider4  js-slider4">
	        <a href="#tea">
	          <div class="block-image">
	            <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_04.jpg')"></div>
	          </div>
	          <div class="article-details">
	             	<h3 class="affordance">Yes, It is Possible to Have a Long-Distance Ministry</h3>
	          </div>
	        </a>
	      </li>
	    </ul>
	  </div>
		<!-- end .mask -->
	</div>
	<a class="slider-control  slider-control__prev">
				<span class="slider-control--btn">
					<i class="icon-left-arrow"></i>
				</span>
  </a>
	<a class="slider-control  slider-control__next">
				<span class="slider-control--btn">
					<i class="icon-right-arrow"></i>
				</span>
  </a>
</ul>