---
page-class: page--static
---
{% include head.html %}


<div class="grid">
  <div class="grid__item one-whole desk--one-third">
    <img class="image--circle" src="http://baconmockup.com/200/200" alt="">
    <h4>Prosciutto shank porchetta</h4>
    <p>Bacon ipsum dolor sit amet ham hock shank meatball prosciutto venison chuck hamburger t-bone bresaola, strip steak cow chicken landjaeger. Hamburger pork chop strip steak fatback. Prosciutto shank porchetta tail pork belly, capicola pork meatloaf cow tri-tip frankfurter.</p>
    <a class="button" href="/assets/images/cru-icon-families.svg" alt="">Button Text</a>
  </div>


</div>