---
page-class: page--static
---
{% include head.html %}

<!--  

  006 - HOME IMAGE SLIDER

  -->

<div class="content-slider  position--relative  overflow--hide  mb">
	
	<div class="slider  centered  position--relative">
		<!-- .mask -->
		<div class="slider__mask  overflow--hide">
	    <ul class="bare-list">
	
	      <li class="slider__item  position--absolute  full-height">
	        <a class="position--relative  display--block  full-height" href="#camera">
	          <div class="full-height  full-width">
							<!-- This is the background image style that will be changed based on the article image -->
	            <div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_01.jpg')"></div>
	          </div>
	          <div class="article-details  position--absolute  p0">
							<h3 class="affordance  display--block  m0">Never gonna to give you up.</h3>
	          </div>
	        </a>
	      </li>
	
	      <li class="slider__item  position--absolute  full-height">
	        <a class="position--relative  display--block  full-height"  href="#birds">
	          <div class="full-height  full-width">
							<!-- This is the background image style that will be changed based on the article image -->
	            <div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_02.jpg')"></div>
	          </div>
	          <div class="article-details  position--absolute  p0">
	             	<h3 class="affordance  display--block  m0">Never gonna let you down.</h3>
	          </div>
	        </a>
	      </li>
        
	      <li class="slider__item  position--absolute  full-height">
	        <a class="position--relative  display--block  full-height" href="#train">
	          <div class="full-height  full-width">
							<!-- This is the background image style that will be changed based on the article image -->
	            <div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_03.jpg')"></div>
	          </div>
	          <div class="article-details  position--absolute  p0">
	             	<h3 class="affordance  display--block  m0">Never gonna run around and desert you.</h3>
	          </div>
	        </a>
	      </li>
        
	      <li class="slider__item  position--absolute  full-height">
	        <a class="position--relative  display--block  full-height" href="#tea">
	          <div class="full-height  full-width">
							<!-- This is the background image style that will be changed based on the article image -->
	            <div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_04.jpg')"></div>
	          </div>
	          <div class="article-details  position--absolute  p0">
	             	<h3 class="affordance  display--block  m0">Never gonna make you cry.</h3>
	          </div>
	        </a>
	      </li>
        
	      <!--<li class="slider__item  position--absolute  full-height">-->
	        <!--<a class="position--relative  display--block  full-height" href="#tea">-->
	          <!--<div class="full-height  full-width">-->
							<!--&lt;!&ndash; This is the background image style that will be changed based on the article image &ndash;&gt;-->
	            <!--<div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_05.jpg')"></div>-->
	          <!--</div>-->
	          <!--<div class="article-details  position--absolute  p0">-->
	             	<!--<h3 class="affordance  display--block  m0">Never gonna say goodbye.</h3>-->
	          <!--</div>-->
	        <!--</a>-->
	      <!--</li>-->
        <!---->
	      <!--<li class="slider__item  position--absolute  full-height">-->
	        <!--<a class="position--relative  display--block  full-height" href="#tea">-->
	          <!--<div class="full-height  full-width">-->
							<!--&lt;!&ndash; This is the background image style that will be changed based on the article image &ndash;&gt;-->
	            <!--<div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_06.jpg')"></div>-->
	          <!--</div>-->
	          <!--<div class="article-details  position--absolute  p0">-->
	             	<!--<h3 class="affordance  display--block  m0">Never gonna tell a lie and hurt you.</h3>-->
	          <!--</div>-->
	        <!--</a>-->
	      <!--</li>-->
        
	      <!--<li class="slider__item  position--absolute  full-height">-->
	        <!--<a class="position--relative  display--block  full-height" href="#tea">-->
	          <!--<div class="full-height  full-width">-->
							<!--&lt;!&ndash; This is the background image style that will be changed based on the article image &ndash;&gt;-->
	            <!--<div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_07.jpg')"></div>-->
	          <!--</div>-->
	          <!--<div class="article-details  position--absolute  p0">-->
	             	<!--<h3 class="affordance  display--block  m0">(Ooh, give you up)</h3>-->
	          <!--</div>-->
	        <!--</a>-->
	      <!--</li>-->
        <!---->
	      <!--<li class="slider__item  position--absolute  full-height">-->
	        <!--<a class="position--relative  display--block  full-height" href="#tea">-->
	          <!--<div class="full-height  full-width">-->
							<!--&lt;!&ndash; This is the background image style that will be changed based on the article image &ndash;&gt;-->
	            <!--<div class="background-image" style="background-image: url('{{ site.root }}images/cru640x360_story_08.jpg')"></div>-->
	          <!--</div>-->
	          <!--<div class="article-details  position--absolute  p0">-->
	             	<!--<h3 class="affordance  display--block  m0">Never gonna give, never gonna give</h3>-->
	          <!--</div>-->
	        <!--</a>-->
	      <!--</li>-->
        
	    </ul>
	  </div>
		<!-- end .mask -->
	</div>
	<a class="slider-control  slider-control__prev  position--absolute">
				<span class="slider-control--btn  position--absolute">
					<i class="icon-left-arrow"></i>
				</span>
  </a>
	<a class="slider-control  slider-control__next  position--absolute">
				<span class="slider-control--btn  position--absolute">
					<i class="icon-right-arrow"></i>
				</span>
  </a>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/scripts/jquery-1.10.1.min.js"><\/script>')</script>
<script src="{{ site.root }}slider.min.js"></script>
