---
page-class: page--static
---
{% include head.html %}
<div class="page-content">
  <!-- Article primary wrapper -->
  <article class="post-article">
    <!-- Article body wrapper -->
    <div class="layout-single-column">
    
    
      <!-- Default image view -->
      <figure>
        <img src="http://baconmockup.com/1200/980"/>
        <figcaption  class="image__caption">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</figcaption>
      </figure>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

      <!-- Image inset to the left -->
      <figure class="image--inset__left">
        <img class="" src="http://baconmockup.com/1100/820"/>
        <figcaption class="image__caption">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</figcaption>
      </figure>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      <!-- Image expands past content to the left -->
      <figure class="image--outset__left">
        <img class="" src="http://baconmockup.com/1000/790"/>
        <figcaption class="image__caption">Vestibulum id ligula porta felis euismod semper.</figcaption>
      </figure>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    
      <!--Image expands past content to the left and right -->
      <figure class="image--outset__center">
        <img class="" src="http://baconmockup.com/1300/1040"/>
        <figcaption class="image__caption">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</figcaption>
      </figure>
      <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    
    
    </div>
  </article>
</div>