---
page-class: page--static
---
{% include head.html %}

<!--

  008 - TILE COMPONENT AND CONTAINERS

  -->


<div class="layout--wide">

  <div class="grid js-masonry">  <!--Mixture of tiles based on THIRDS-->
    <div class="grid__item one-whole desk--one-third  lap--one-half">
      <div class="tile">
        <div><img src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060987~1~staticrendition/cru640x360.jpg" alt=""></div>
        <h4>How to Talk to a Skeptic</h4>
        <p>In an ongoing Facebook conversation with a close friend, he wrote, “As you know, it’s not that I don’t want to believe [in Christ].</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>
  <div class="grid__item one-whole desk--one-third  lap--one-half">
    <div class="tile">
      <p>In an ongoing Facebook conversation with a close friend, he wrote, “As you know, it’s not that I don’t want to believe [in Christ].</p>
    </div>
  </div>

    <div class="grid__item one-whole desk--one-third  lap--one-half">
      <div class="tile">
        <div><img src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060987~1~staticrendition/cru640x360.jpg" alt=""></div>
        <p>In an ongoing Facebook conversation with a close friend, he wrote, “As you know, it’s not that I don’t want to believe [in Christ].</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third  lap--one-half">
      <div class="tile">
        <div><img src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060987~1~staticrendition/cru640x360.jpg" alt=""></div>
        <p>In an ongoing Facebook conversation with a close friend, he wrote, “As you know, it’s not that I don’t want to believe [in Christ].</p>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third  lap--one-half">
      <div class="tile">
        <div><img src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060987~1~staticrendition/cru640x360.jpg" alt=""></div>
        <a href=""><p>In an ongoing Facebook conversation with a close friend, he wrote, “As you know, it’s not that I don’t want to believe [in Christ].</p></a>
      </div>
    </div>



    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <a href="" ><h4>This is an H4 Kid That Can Be Longer.</h4></a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
        <h4>This is an H4 Kid.</h4>
        <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <h4>This is an H4 Kid.</h4>
        <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/384/216" alt=""></div>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <h4>This is an H4 Kid.</h4>
        <ul>
          <li>Orange Juice</li>
          <li>Apple Crapple Juice</li>
          <li>Mango Jango Juice</li>
        </ul>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <h4>This is an H4 Kid.</h4>
        <ol>
          <li>Orange Juice</li>
          <li>Apple Crapple Juice</li>
          <li>Mango Jango Juice</li>
        </ol>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <h4>This is an H4 Kid.</h4>
        <ol>
          <li>Orange Juice</li>
          <li>Apple Crapple Juice</li>
          <li>Mango Jango Juice</li>
        </ol>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <ol>
          <li>Orange Juice</li>
          <li>Apple Crapple Juice</li>
          <li>Mango Jango Juice</li>
        </ol>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <h4>This is an H4 Kid.</h4>
        <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
        <h4>This is an H4 Kid.</h4>
        <p>“It forced me to reevaluate my life. Once I understood [this principle].”</p>
        <a class="button button--small" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
        <h4>This is an H4 Kid.</h4>
        <p>“It forced me to <a href="">reevaluate</a> my life. Once I understood [this principle].”</p>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center lap--one-half">
      <div class="tile">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
      </div>
    </div>

  </div>



</div>
{% include footer.html %}
