---
page-class: page--static
---
{% include head.html %}

<!--

  008 - TILE COMPONENT AND CONTAINERS

  -->


<div class="layout--wide">

  <div class="grid js-masonry">  <!--Mixture of tiles based on THIRDS-->
    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <h4 class="mb0  p-">1 This is an H4 Kid.</h4>
        <p class="text--left mb0  ps-">“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button  me-" href="#">Read More</a>
      </div>
    </div>
    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
        <h4 class="mb0  p-">2 This is an H4 Kid.</h4>
        <p class="text--left mb0  ps-">“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button  me-" href="#">Read More</a>
      </div>
    </div>
    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <h4 class="mb0 p-">3 This is an H4 Kid.</h4>
        <p class="text--left mb0  ps-">“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button  me-" href="#">Read More</a>
      </div>
    </div>

    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <h4 class="mb0  p-">4 This is an H4 Kid.</h4>
        <ul class="text--left  mb0  ps-">
          <li>Orange Juice</li>
          <li>Apple Crapple Juice</li>
          <li>Mango Jango Juice</li>
        </ul>
        <a class="button  me-" href="#">Read More</a>
      </div>
    </div>
    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <h4 class="mb0  p-">5 This is an H4 Kid.</h4>
        <p class="text--left mb0  ps-">“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        <a class="button me-" href="#">Read More</a>
      </div>
    </div>
    <div class="grid__item one-whole desk--one-third text--center">
      <div class="color-white  mb  box-shadown--thin">
        <div><img src="http://baconmockup.com/640/360" alt=""></div>
        <h4 class="mb0  p-">6 This is an H4 Kid.</h4>
        <p class="text--left mb0  ps-">“It forced me to reevaluate my life. Once I understood [this principle].”</p>
        <a class="button  me-" href="#">Read More</a>
      </div>
    </div>

  </div>

</div>
{% include footer.html %}
