---
page-class: page--static
---
{% include head.html %}

<!--  

  015 - QUERIED LIST COMPONENT

  --> 
  
  <!-- The ol/uls are the wrapper classes;
       The <hr> elements are purely for the demo
   -->

   <!-- List without Bullets -->
   <ul class="block-list">
     <li>
       <!-- Optional image item -->
       <img alt="Some alt text" src="" />
    
       <!-- Optional link item -->
       <a href="#">Purus Cursus Elit Ornare</a>
    
       <!-- Optional paragraph text -->
       <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
          egestas eget quam.</p>
     </li>
  
     <li>
       <!-- Optional paragraph text -->
       <p>Ligula Amet Consectetur</p>
     </li>
  
  
     <li>
       <!-- Optional link item -->
       <a href="#">Egestas Risus Ultricies Pellentesque</a>
     </li>
  
   </ul>

   <hr class="section-divider"/>

   <!-- List with bullets -->
   <ul>
     <li>
       <!-- Optional image item -->
       <img alt="Some alt text" src="" />
    
       <!-- Optional link item -->
       <a href="#">Purus Cursus Elit Ornare</a>
    
       <!-- Optional paragraph text -->
       <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
          egestas eget quam.</p>
     </li>
  
  
     <li>
       <!-- Optional paragraph text -->
       <p>Ligula Amet Consectetur</p>
     </li>
  
  
     <li>
       <!-- Optional link item -->
       <a href="#">Egestas Risus Ultricies Pellentesque</a>
     </li>
   </ul>

   <hr class="section-divider"/>

   <!-- Unordered list with numbers -->
   <ul class="numbered-list">
     <li>
       <!-- Optional image item -->
       <img alt="Some alt text" src="" />
    
    
       <!-- Optional link item -->
       <a href="#">Purus Cursus Elit Ornare</a>
    
       <!-- Optional paragraph text -->
       <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
          egestas eget quam.</p>
     </li>
  
  
     <li>
       <!-- Optional paragraph text -->
       <p>Ligula Amet Consectetur</p>
     </li>
  
  
     <li>
       <!-- Optional link item -->
       <a href="#">Egestas Risus Ultricies Pellentesque</a>
     </li>
  
   </ul>

   <hr class="section-divider"/>

   <!-- Ordered list -->
   <ol>
    <li>
      <!-- Optional image item -->
      <img alt="Some alt text" src="" />
   
      <!-- Optional link item -->
      <a href="#">Purus Cursus Elit Ornare</a>
   
      <!-- Optional paragraph text -->
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
         Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
         egestas eget quam.</p>
    </li>
 
 
    <li>
      <!-- Optional paragraph text -->
      <p>Ligula Amet Consectetur</p>
    </li>
 
 
    <li>
      <!-- Optional link item -->
      <a href="#">Egestas Risus Ultricies Pellentesque</a>
    </li>
   </ol>
  