---
page-class: page--static
---
{% include head.html %}

<!--  

  015 - QUERIED LIST COMPONENT

  --> 
  
  <!-- The ol/uls are the wrapper classes;
       The <hr> elements are purely for the demo
   -->

   <!-- List without Bullets -->
    <div class="grid  mt">
        <ul  class="bare-list">
            <div class="block-list  media">
                <li>
                    <!-- Optional image item -->
                    <div class="grid__item  one-quarter  media__img">
                        <img alt="Some alt text" src="http://placebacn.com/600/200" />
                    </div>
                    <!-- Optional link item -->
                    <div class="grid__item  three-quarters  media__body">
                        <a href="#">Purus Cursus Elit Ornare</a>
            
                        <!-- Optional paragraph text -->
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam.</p>
                    </div>
                </li>
            </div>
            <li>
            <div class="grid__item  one-whole  media">
                <div class="color-white  p  mb">  
                    <div class="media__img  mt--">
                        <!-- Optional image item -->
                        <img alt="Some alt text" src="http://placebacn.com/600/200" />
                    </div>
                    <div class="media__body">
                        <!-- Optional link item -->
                        <a href="#">Purus Cursus Elit Ornare</a>
                        <!-- Optional paragraph text -->
                        <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.” “It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
                    </div>
                </div>
            </div>
            </li>
            
            
        </ul>
    </div>
   
   <hr class="section-divider"/>

   <!-- List with bullets -->
   <ul>
     <li>
       <!-- Optional image item -->
       <img alt="Some alt text" src="" />
    
       <!-- Optional link item -->
       <a href="#">Purus Cursus Elit Ornare</a>
    
       <!-- Optional paragraph text -->
       <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
          egestas eget quam.</p>
     </li>
  
  
     <li>
       <!-- Optional paragraph text -->
       <p>Ligula Amet Consectetur</p>
     </li>
  
  
     <li>
       <!-- Optional link item -->
       <a href="#">Egestas Risus Ultricies Pellentesque</a>
     </li>
   </ul>

   <hr class="section-divider"/>

   <!-- Unordered list with numbers -->
   <ul class="numbered-list">
     <li>
       <!-- Optional image item -->
       <img alt="Some alt text" src="" />
    
    
       <!-- Optional link item -->
       <a href="#">Purus Cursus Elit Ornare</a>
    
       <!-- Optional paragraph text -->
       <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
          egestas eget quam.</p>
     </li>
  
  
     <li>
       <!-- Optional paragraph text -->
       <p>Ligula Amet Consectetur</p>
     </li>
  
  
     <li>
       <!-- Optional link item -->
       <a href="#">Egestas Risus Ultricies Pellentesque</a>
     </li>
  
   </ul>

   <hr class="section-divider"/>

   <!-- Ordered list -->
   <ol>
    <li>
      <!-- Optional image item -->
      <img alt="Some alt text" src="" />
   
      <!-- Optional link item -->
      <a href="#">Purus Cursus Elit Ornare</a>
   
      <!-- Optional paragraph text -->
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
         Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
         egestas eget quam.</p>
    </li>
 
 
    <li>
      <!-- Optional paragraph text -->
      <p>Ligula Amet Consectetur</p>
    </li>
 
 
    <li>
      <!-- Optional link item -->
      <a href="#">Egestas Risus Ultricies Pellentesque</a>
    </li>
   </ol>
  