---
page-class: page--static
---
{% include head.html %}

<!--  

  017 - TEXT/IMAGE COMPONENT

  --> 

<!-- Text with inline image -->
<p>Cras mattis consectetur purus sit amet fermentum. Curabitur 
   blandit tempus porttitor. 
   <img src="http://baconmockup.com/1200/980"/>Nullam id dolor id nibh ultricies 
   vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. 
   Aenean lacinia bibendum nulla sed consectetur.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
   Maecenas faucibus mollis interdum. Donec id elit non mi porta 
   gravida at eget metus. Lorem ipsum dolor sit amet, consectetur
   adipiscing elit.</p>

