---
page-class: page--static
---
{% include head.html %}

<!--  

  019 - ARTICLE SUBTITLE

  --> 

  <!-- This is the wrapper for the component -->
	<header class="post-headline  layout-single-column">
    
  <h1 class="post-title">Praesent commodo cursus magna vel consectetur</h1>
  
  <!-- Goes in between the article title and the article metadata -->
  <h2 class="post-subtitle">Amet Consectetur Ridiculus Mattis</h2>
  
  	<ul class="post-meta">
    	<li class="accent">by Ultricies Nullam Lorem</li>
    	<li class="accent">
        <a href="#">@Vestibulum</a>
      </li>
    	<li>
        <time>4 days ago</time>
      </li>	
  	</ul>
    
	</header>