---
page-class: page--static
---
{% include head.html %}

<!--  

  021 - RELATED STORIES

  --> 
  <!-- Wrapper and filler text -->
  <div class="article-body  layout-single-column">
    <p>Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
       tellus ac cursus commodo, tortor mauris condimentum nibh, ut
       fermentum massa justo sit amet risus. Donec ullamcorper nulla
       non metus auctor fringilla. Nulla vitae elit libero, a pharetra
       augue. Aenean lacinia bibendum nulla sed consectetur. Curabitur
       blandit tempus porttitor. Duis mollis, est non commodo luctus,
       nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
       
    <!-- The component: goes after the article, but before the footer -->
    
    <!-- Component wrapper -->
    <div class="more-stories  more-stories--related">
      <hr>
      <h4 class="ps- mb-  text--center">Related Stories</h4>
      
        <!-- 
         By default the li class is one-whole, if there are two related stories
         add desk--one-half, if there are three
         desk--one-third. There can be no more than three related stories
        -->
          
        <!-- One related story -->  
        <ul class="grid  block-list">
          <li class="grid__item  one-whole">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
        </ul>  
    
        <!-- Two related stories -->
        <ul class="grid  block-list">
          <li class="grid__item  one-whole desk--one-half">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
          <li class="grid__item  one-whole desk--one-half">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
        </ul> 
    
        <!-- Three related stories -->
        <ul class="grid  block-list">
          <li class="grid__item  one-whole desk--one-third">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
          <li class="grid__item  one-whole desk--one-third">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
          <li class="grid__item  one-whole desk--one-third">
            <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
              <!-- Related story title -->
              <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
              <!-- Related story description -->
              <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
            </a>
          </li>
        </ul>
        
        
    </div>

       
  </div>