---
page-class: page--static
---
{% include head.html %}

<!--  

  023 - INSET SIDEBAR

  --> 
  
  <!-- Wrapper -->
  <div class="post-article">
    <div class="post__body  layout-single-column">
    
    
      <!-- Testing with Legacy Image -->
      <figure class="image--legacy">
        <img class="" src="http://baconmockup.com/1100/820"/>
        <figcaption class="image__caption">
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
          <span class="image-credit">Photo by Bruce Wayne</span>
        </figcaption>
      </figure>
    
      <!-- The component: a link list with one extra class on the wrapper -->
      <nav class="post-nav">
        <h3 class="mb--">There are more articles:</h3>
        <ul class="numbered-list">
          <li>
            <a href="#">Condimentum Tortor Venenatis Inceptos</a>
          </li>
          <li>
            <a href="#">Parturient Ridiculus Pellentesque Sem</a>
          </li>
          <li>
            <a href="#">Fermentum Cursus Vulputate Malesuada</a>
          </li>
          <li>
            <a href="#">Risus Sem Tellus Nibh Vulputate</a>
          </li>
          <li>
            <a href="#">Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a>
          </li>
          <li>
            <a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a>
          </li>
        </ul>
      </nav>
    
    
      <!-- Filler text for a typical article -->
      <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
         Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur
         blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo,
         tortor mauris condimentum nibh, ut fermentum massa justo sit amet
         risus. Integer posuere erat a ante venenatis dapibus posuere velit
         aliquet. Donec sed odio dui. Maecenas faucibus mollis interdum.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
         Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur
         blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo,
         tortor mauris condimentum nibh, ut fermentum massa justo sit amet
         risus. Integer posuere erat a ante venenatis dapibus posuere velit
         aliquet. Donec sed odio dui. Maecenas faucibus mollis interdum.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
         Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur
         blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo,
         tortor mauris condimentum nibh, ut fermentum massa justo sit amet
         risus. Integer posuere erat a ante venenatis dapibus posuere velit
         aliquet. Donec sed odio dui. Maecenas faucibus mollis interdum.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
         Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur
         blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo,
         tortor mauris condimentum nibh, ut fermentum massa justo sit amet
         risus. Integer posuere erat a ante venenatis dapibus posuere velit
         aliquet. Donec sed odio dui. Maecenas faucibus mollis interdum.</p>
        
        
    </div>
  </div>