---
page-class: page--static
---
{% include head.html %}

<!--  

  024 - HORIZONTAL TILE 

  --> 
  
<div class="layout--wide">

    <!-- 
      Horizontal tiles can only be one-whole
      
      These are the same as normal tiles but with width limits. 
      They also have a few extra classes added but the formating is the same.
      
    -->
  <div class="grid">  
    
    <div class="grid__item  one-whole  media">
      <div class="color-white  p  mb">  
        <div class="media__body">
          <h4>This is an H4 Kid.</h4>
          <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
          <a class="button" href="#">Lets try for a long form button</a>
        </div>
      </div>
    </div>
    <div class="grid__item  one-whole  media">
      <div class="color-white  p  mb">  
        <div class="media__body">
          <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
          <a class="button" href="#">Lets try for a long form button</a>
        </div>
      </div>
    </div>
    <div class="grid__item  one-whole  media">
      <div class="color-white  p  mb">  
        <div class="media__body">
          <h4>This is an H4 Kid.</h4>
          <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
        </div>
      </div>
    </div>

    <div class="grid__item  one-whole  media">
      <div class="color-white  p  mb">  
        <div class="media__body">
          <h4>This is an H4 Kid. In it's very long form. Seriously. Just about awkwardly long. Like Justin's arms.</h4>
          <a class="button" href="#">Lets try for a long form button</a>
        </div>
      </div>
    </div>
    
    <div class="grid__item  one-whole  media">
      <div class="color-white  p  mb">  
        <div class="media__img">
          <img class="mb-" src="http://baconmockup.com/600/200" alt="">
        </div>
        <div class="media__body">
          <h4>This is an H4 Kid.</h4>
          <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.” “It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
          <a class="button" href="#">Finish the story</a>
        </div>
      </div>
    </div>
    
    
    <!-- If the circle--mask class is used the grid__item parent must have the center-block class -->
    <div class="grid__item  one-whole  media  center-block">
      <div class="color-white  p  mb">  
        <div class="media__img  mask--circle">
          <img class="image--circle  mb-" src="http://baconmockup.com/200/200" alt="">
        </div>
        <!-- The media__body class must have the text-left class as well with circle--mask -->
        <div class="media__body  text--left">
          <h4>This is an H4 Kid.</h4>
          <p>“It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.” “It forced me to reevaluate my life. Once I understood [this principle], I didn’t want to waste any more time.”</p>
          <a class="button" href="#">Finish the story</a>
        </div>
      </div>
      
      
      

      
      
  </div>
    
    
    
  
</div>
  