---
page-class: page--static
---
{% include head.html %}

<!--  

  026 - MEDIA EMBED COMPONENT

  --> 
  
  <!-- Page wrapper: not part of the actual component -->
  <div class="page-content">
    <!-- Article primary wrapper: not part of the actual component -->
    <article class="post-article">
      <!-- Article body wrapper: not part of the actual component -->
      <div class="layout-single-column">
    
    
        <!-- Default image view -->
        <figure >
          <!-- Media Embed Here -->
          <!-- For videos the width should be set at 100% and the height at a default of 350 -->
          <script height="350px" width="100%" src="http://player.ooyala.com/iframe.js#ec=Fxb2JlbDoxEruUi6xAm0ln9WeeYh1bHY&pbid=48fb46fc2d94405b8a5abaa6d9ea288a"></script>
          <figcaption class="image__caption  default-view">SOme caption here if needed</figcaption>
        </figure>
        <!-- Testing paragraphs -->
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

      
        <!-- Image inset to the left -->
        <figure class="image--inset__left">
          <!-- Media Embed Here -->
          <blockquote class="twitter-tweet" lang="en"><p>When titles, stage time, and authority are given to budding leaders too quickly, monsters are born.</p>&mdash; Jerry Page (@Jerry_Page_PE) <a href="https://twitter.com/Jerry_Page_PE/statuses/457531534590087168">April 19, 2014</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </figure>
        <!-- Testing paragraphs -->
        <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      
      
        <!-- Image expands past content to the left -->
        <figure class="image--outset__left">
          <!-- Media Embed Here -->
          <div class="storify"><iframe src="//storify.com/crutweets/big-break-2014/embed?border=false" width="100%" height=750 frameborder=no allowtransparency=true></iframe><script src="//storify.com/crutweets/big-break-2014.js?border=false"></script><noscript>[<a href="//storify.com/crutweets/big-break-2014" target="_blank">View the story "Big Break 2014: Your Tweets" on Storify</a>]</noscript></div>
          <figcaption class="image__caption">Vestibulum id ligula porta felis euismod semper.</figcaption>
        </figure>
        <!-- Testing paragraphs -->
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor.</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    
      
        <!--Image expands past content to the left and right -->
        <figure class="image--outset__center">
          <!-- Media Embed Here -->
          <iframe width="100%" height="350" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/70491730"></iframe>
          <figcaption class="image__caption">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</figcaption>
        </figure>
        <!-- Testing paragraphs -->
        <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    
    
      </div>
    </article>
  </div>