---
page-class: page--static
---
{% include head.html %}

<!--  

  027 - LINK LIST

  --> 
  
  <!-- The ol/uls are the wrapper classes;
       The <hr> elements are purely for the demo
   -->

<!-- List without Bullets -->
<ul class="block-list">
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
  
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
  
</ul>

<hr class="section-divider"/>

<!-- List with bullets -->
<ul>
  <li>
    <li>
      <!-- Optional link item -->
      <a href="#">Purus Cursus Elit Ornare</a>
    </li>
  
    <li>
      <!-- Optional link item -->
      <a href="#">Purus Cursus Elit Ornare</a>
    </li>
</ul>

<hr class="section-divider"/>

<!-- Unordered list with numbers -->
<ul class="numbered-list">
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
  
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
  
</ul>

<hr class="section-divider"/>

<!-- Ordered list -->
<ol>
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
  
  <li>
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  </li>
</ol>
  