---
page-class: page--static
---
{% include head.html %}

<!--  

  029 - FEATURED STORIED QUERIED LIST

  --> 
  
    <!-- Wrapper and filler text -->
    <div class="article-body  layout-single-column">
      <p>Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
         tellus ac cursus commodo, tortor mauris condimentum nibh, ut
         fermentum massa justo sit amet risus. Donec ullamcorper nulla
         non metus auctor fringilla. Nulla vitae elit libero, a pharetra
         augue. Aenean lacinia bibendum nulla sed consectetur. Curabitur
         blandit tempus porttitor. Duis mollis, est non commodo luctus,
         nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
       
      <!-- The component: goes after the article, but before the footer -->
    
      <!-- Component wrapper -->
      <div class="more-stories  more-stories--featured">
        <hr>
        <h4 class="ps- mb-  text--center">Featured Stories</h4>
      
          <!-- 
           By default the li class is one-whole, if there are two featured stories
           add desk--one-half, if there are three
           desk--one-third. There can be no more than three featured stories
          -->
          
          <!-- One featured story -->  
          <ul class="grid  block-list">
            <li class="grid__item  one-whole">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
              </a>
            </li>
          </ul>  
    
          <!-- Two featured stories -->
        <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p- small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance ">Prayer Saturday for missing Nigerian girls</h5>
              </a>
            </li>
          </ul> 
    
          <!-- Three featured stories -->
          <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance">Prayer Saturday for missing Nigerian girls</h5>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold  affordance">When Julie started living for Jesus</h5>
              </a>
            </li>
          </ul>       
      </div>
    


<!--Start list with images-->   
    <div class="article-body  layout-single-column">
        <!-- Component wrapper with images-->
        <div class="more-stories  more-stories--featured">
            <hr>
            <h4 class="ps- mb-  text--center">Featured Stories with Images</h4>
      
                <!-- 
                By default the li class is one-whole, if there are two featured stories
                add desk--one-half, if there are three
                desk--one-third. There can be NO MORE than three featured stories
                -->
          
            <!-- One featured story with image-->  
            <ul class="grid  block-list">
                <li class="grid__item  one-whole">
                    <a href="#"   class="more-stories__link  p-  small  block-link  cf">                
                        <!-- Optional image item --> 
                        <div class="img--list  pt--  pr-">  
                            <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060333~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div class="overflow--hide">
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
                        </div>
                    </a>
                </li>
                <li class="grid__item  one-whole">
                    <a href="#"   class="more-stories__link  p-  small  block-link  cf">                
                        <!-- Optional image item --> 
                        <div class="img--list  pt--  pr-">  
                          <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060331~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div class="overflow--hide"> 
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">Prayer Saturday for missing Nigerian girls</h5>
                        </div>
                    </a>
                </li>
                <li class="grid__item  one-whole">
                    <a href="#"   class="more-stories__link  p-  small  block-link  cf">                
                        <!-- Optional image item --> 
                        <div class="img--list  pt--  pr-">  
                            <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060331~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div class="overflow--hide"> 
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">When Julie started living for Jesus</h5>
                        </div>
                    </a>
                </li>
            </ul>

            <hr>
            <!-- Two featured stories with images-->
    
            <!-- Component wrapper with images-->
      
            <ul class="grid  block-list">
                <li class="grid__item  one-whole  desk--one-half">
                    <a href="#"   class="more-stories__link  p-  small  block-link  cf">
                        <!-- Optional image item -->   
                        <div class="img--list  pt--">
                            <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060331~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div  class="overflow--hide  pl--">
                            <!-- Related story title -->
                            <h5 class="m0  weight--semibold  affordance">Prayer Saturday for missing Nigerian girls</h5>
                        </div>
                    </a>
                </li>
                <li class="grid__item  one-whole desk--one-half">
                    <a href="#"   class="more-stories__link  p-  small  block-link  cf">
                        <!-- Optional image item -->   
                        <div class="img--list  pt--">
                            <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060333~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div  class="overflow--hide  pl--">
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
                        </div>
                    </a>
                </li>
            </ul> 
            
            <hr>
            <!-- Three featured stories with images-->
        
            <ul class="grid  block-list">
                
                <li class="grid__item one-whole desk--one-third"> 
                    <a href="#"   class="more-stories__link  pt-  block-link  cf">
                        <!-- Optional image item --> 
                        <div class="img--list  pt--">  
                          <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060331~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div class="overflow--hide  pl--  "> 
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">When Julie started living for Jesus</h5>
                        </div>
                    </a>
                </li>
                <li class="grid__item one-whole desk--one-third">
                    <a href="#"   class="more-stories__link  pt-  block-link  cf">
                        <!-- Optional image item -->
                        <div class="img--list  pt--">  
                          <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060333~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div  class="overflow--hide  pl--  "> 
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">Prayer Saturday for missing Nigerian girls</h5>
                        </div>
                    </a>
                </li>
                <li class="grid__item one-whole desk--one-third">
                    <a href="#"   class="more-stories__link  pt-  block-link  cf">
                        <!-- Optional image item -->
                        <div class="img--list  pt--">  
                          <img src="http://static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_060333~1~staticrendition/cru75x41.jpg" alt="">
                        </div>
                        <div class="overflow--hide  pl--  ">
                            <!-- Related story title -->
                            <h5  class="m0  weight--semibold  affordance">Remember the fallen, remember to pray</h5>
                        </div>
                    </a>
                </li>

            </ul>
        
    </div>

</div>

<hr>
  {% include footer.html %}
  <script src="{{ site.root }}offcanvas.min.js"></script>
  <script src="{{ site.root }}dropdown.min.js"></script>