---
page-class: page--static
---
{% include head.html %}

<!--  

  029 - FEATURED STORIED QUERIED LIST

  --> 
  
    <!-- Wrapper and filler text -->
    <div class="article-body  layout-single-column">
      <p>Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
         tellus ac cursus commodo, tortor mauris condimentum nibh, ut
         fermentum massa justo sit amet risus. Donec ullamcorper nulla
         non metus auctor fringilla. Nulla vitae elit libero, a pharetra
         augue. Aenean lacinia bibendum nulla sed consectetur. Curabitur
         blandit tempus porttitor. Duis mollis, est non commodo luctus,
         nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
       
      <!-- The component: goes after the article, but before the footer -->
    
      <!-- Component wrapper -->
      <div class="more-stories  more-stories--featured">
        <hr>
        <h4 class="ps- mb-  text--center">Featured Stories</h4>
      
          <!-- 
           By default the li class is one-whole, if there are two featured stories
           add desk--one-half, if there are three
           desk--one-third. There can be no more than three featured stories
          -->
          
          <!-- One featured story -->  
          <ul class="grid  block-list">
            <li class="grid__item  one-whole">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
          </ul>  
    
          <!-- Two featured stories -->
          <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
          </ul> 
    
          <!-- Three featured stories -->
          <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  affordance  small  block-link">
                <!-- Related story title -->
                <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
              
                <!-- Related story description -->
                <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
              </a>
            </li>
          </ul>
        
        
      </div>

<!--Start changes-->   

      <!-- Component wrapper with images-->
      <div class="more-stories  more-stories--featured">
        <hr>
        <h4 class="ps- mb-  text--center">Featured Stories with Images</h4>
      
          <!-- 
           By default the li class is one-whole, if there are two featured stories
           add desk--one-half, if there are three
           desk--one-third. There can be no more than three featured stories
          -->
          
          <!-- One featured story with image-->  
          <ul class="grid  block-list">
            <li class="grid__item  one-whole">
              <a href="#"   class="more-stories__link  p-  small  block-link">                
                <!-- Optional image item --> 
                <div style="float:left;" class="pt--">  
                  <img src="http://baconmockup.com/100/100" alt="">
                </div>
                <div  style="overflow: hidden" class="pl--  affordance"> 
                <!-- Related story title -->
                  <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>               
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
          </ul>  
    
          <!-- Two featured stories with images-->
          <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;"  class="pt--">
                  <img src="http://baconmockup.com/85/85" alt="">
                </div> 
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance">
                  <h5  style="overflow: hidden"  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
                
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-half">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/150/150" alt="">
                </div>
                <div  style="overflow: hidden" class="pl--  affordance">
                  <!-- Related story title -->
                  <h5  class="m0  weight--semibold">Fusce Lorem Commodo</h5>
                
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
          </ul> 
    
          <!-- Three featured stories with images-->
          <ul class="grid  block-list">
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/75/75" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance"> 
                  <h5  class="m0  weight--semibold">N1 Fusce Lorem Commodo</h5>
                
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/100/150" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance"> 
                  <h5  class="m0  weight--semibold">N2 Fusce Lorem Commodo</h5>
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/75/75" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance">
                  <h5  class="m0  weight--semibold">N3 Fusce Lorem Commodo</h5>
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/100/75" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance"> 
                  <h5  class="m0  weight--semibold">N4 Fusce Lorem Commodo</h5>
                
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/75/75" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance"> 
                  <h5  class="m0  weight--semibold">N5 Fusce Lorem Commodo</h5>
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
            <li class="grid__item  one-whole desk--one-third">
              <a href="#"   class="more-stories__link  p-  small  block-link">
                <!-- Optional image item -->   
                <div style="float:left;" class="pt--">
                  <img src="http://baconmockup.com/100/75" alt="">
                </div>
                <!-- Related story title -->
                <div  style="overflow: hidden" class="pl--  affordance"> 
                  <h5  class="m0  weight--semibold">N6 Fusce Lorem Commodo</h5>
                  <!-- Related story description -->
                  <span>Maecenas sed diam eget risus varius blandit sit amet non magna.</span>
                </div>
              </a>
            </li>
          </ul>
        
        
      </div>

       
    </div>