---
page-class: page--static
---
{% include head.html %}

<!--  

  030 - TRAVERSED COUNTRY LIST
  
  --> 
  
  
<div class="layout-single-column  layout--wide">
 
 
  
  <div class="locations color-white">
    
    <!-- Small Screen Display -->
    <!--The contries get listed as options in the select-->
    <div class="locations__select  p">
      <select class="full-width  form-control">
    		<option value>Find a Country</option>

        <!-- The optgroup label is the continent or or overall title -->
    		<optgroup label="Africa">
          <!-- The option values and selections get filled in by the CMS, these are examples only -->
    			<option value="http://www.google.com">Google</option>
    			<option value="http://www.yahoo.com">Yahoo</option>
    			<option value="http://www.foxnews.com">Fox News</option>
    			<option value="http://www.amazon.com">Amazon</option>
    		</optgroup>
      </select>
    </div>
  
  
  
    <!-- Larger Screen Display -->
    <ul class="locations__list  block-list  grid">
  
     <li class="grid__item">
       <a href="#" class="p-  media">
         <div class="media__img">
           <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
         </div>
         <div class="media__body">
           <p>Purus Cursus Elit Ornare</p>
         </div>
       </a>
     </li>

      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>


      <li class="grid__item">
        <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>
      
      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>

      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>


      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>
      
      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>

      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>


      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>
      
      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>

      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>


      <li class="grid__item">
       <a href="#" class="p-  media">
          <div class="media__img">
            <img alt="Some alt text" title="name of country" src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/cms1_056918.jpg" /> 
          </div>
          <div class="media__body">
            <p>Purus Cursus Elit Ornare</p>
          </div>
        </a>
      </li>

    </ul>
  </div>
 
 
  
</div>

{% include footer.html %}