---
page-class: page--static
---
{% include head.html %}

<!--  

  030 - TRAVERSED COUNTRY LIST
  
  --> 
  
  <select>
    
  </select>
  
<ul class="block-list">
  
  <li>
    <!-- Optional image item -->
    <img alt="Some alt text" src="" />
  
    <!-- Optional link item -->
    <a href="#">Purus Cursus Elit Ornare</a>
  
    <!-- Optional paragraph text -->
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
       Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in,
       egestas eget quam.</p>
  </li>

  <li>
    <!-- Optional paragraph text -->
    <p>Ligula Amet Consectetur</p>
  </li>


  <li>
    <!-- Optional link item -->
    <a href="#">Egestas Risus Ultricies Pellentesque</a>
  </li>

</ul>