---
layout: fundamental
title: Pattern Primer
---
{% include header.html %}
<ul class="nav">
	<li>
		<a href="{{ site.root }}blocks/articles/demo1/">Demo 1</a>
	</li>
	<li>
		<a href="{{ site.root }}blocks/articles/demo2/">Demo 2</a>
	</li>
</ul>

	<div class="article__image--primary  background-size-contain  single-column">
		<img src="http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_057853~1~staticrendition/cru640x360.jpg">	
	</div>
	
	<div class="article__header  single-column">
		<h1 class="article-title">Befriending the Atheist Next Door</h1>
		<ul class="post-meta">
			<li class="article__author  accent">by Tim Downs</li>
			<li class="article__author-twitter  accent"><a href="#">@timdowns</a></li>
			<li class="article__timestamp"><time>2 hours ago</time></li>
		
		</ul>
	</div>
	
	<div class="article__content  single-column">
		<p>In the Bible, prayer is described as our divine and uniquely powerful weapon. It says prayer alone can change reality, heal the sick, and control the forces of nature. Prayer has brought back the dead. It keeps us alert, keeps us sober-minded, guards us against temptation, and releases our fears and frustrations.</p>
		<p>Perhaps most significantly of all, prayer can hurt the enemy, restricting his activity and reclaiming hostages from his camp. We have this powerful, superior weapon, and yet we don’t always use it. We are able to communicate with our Creator, but we don’t. We don’t pray.</p>

		<blockquote class="pullquote"><em>Because prayer is hard.</em></blockquote>
		<hr class="section-divider">

		<p>Let me give you a few reasons.</p>
		<ol class="article__list">
			<li><strong>Prayer is strange.</strong></li>
			<p>When I was in a restaurant once with a group of guys, we decided to say a blessing before we ate. Since we were in the middle of a restaurant I said, <q><em>Why don’t we just say our own blessings today?</em></q></p>
			<p>So we bowed our heads, closed our eyes, and began to say our own grace. Now, my blessing is not just, <q><em>Rub-a-dub-dub, thanks for the grub. Yeah, God.</em></q> I take a minute while I say it, and so did my friends. In the middle of our grace, the waiter walked up and asked, <q><em>What’s the matter?</em></q> For a whole minute, he walked around the table asking, <q><em>What’s the matter? What’s the matter?</em></q> We forget, sometimes, the entire climate in which we live is against prayer. It seems like some act of desperation, or something you use as a sedative, but not a way of life. It’s just strange.</p>
			
			<li><strong>Prayer is a discipline.</strong></li>
			<p>Let’s be honest – we’re short on discipline.Some writers describe prayer as though it’s an ecstatic experience; as if every time they pray, angels descend on them. But it’s not like that for me. Is it for you? I’m beginning to believe that for some people, no matter what they do, angels are descending on them.</p>

			<p>		I meet Christians who no longer pray, because it was a disappointment. Their experience is not what they expected. The bottom line though, is this: you’ve got to pursue prayer, first and foremost, as a discipline – not as an experience. I hope that point isn’t a disappointment to you, because the fact is most of the excellent things in life are disciplines. Knowledge comes from discipline. Physical fitness comes from discipline. Skill in art or music comes from discipline</p>

		<blockquote  class="pullquote"><em>Prayer first will be a discipline.</em></blockquote>
		
			<li><strong>It’s difficult to pay attention.</strong></li>
			<p>Is it hard for you to pay attention when praying? I hope I’m not the only one. I admit that for me, invisible, formless, shapeless beings are hard to focus on. There are times I have gotten the feeling that maybe I’m talking to the ceiling.</p>
			
			<li><strong>There are more enjoyable things to do.</strong></li>
			<p>Other occupations cry louder for my attention. For most of us, we’re in too big a hurry to get something done because it’s more fun to take out the list of things to do and cross them off than it is to spend time in prayer.</p>
			
			<li><strong>You can get more done by yourself.</strong></li>
			<p>At least we think so.</p>
			<blockquote>
				<p>I’ve noticed that in battle, God always seems to be on the side of the army with the heaviest artillery.</p>
				<cite class="source">A famous British general</cite>
			</blockquote>
			<p>I think for each of us there has come some big event in life, and we forgot to pray. The event came and went, and went okay. Then we begin to suspect prayer wasn’t as crucial as we thought, and maybe we’d get more done if we quit wasting time on our knees, just got out there and did stuff.</p>
			
			<li><strong>Prayer is a universal failure.</strong></li>
			<p>Remember the story from John 8 of the woman caught in adultery? She’s brought before Christ who simply says to the people around eager to chastise her, <q><em>Let he who is without sin cast the first stone.</em></q> That sort of cut down the audience. But He could have said it differently, by simply saying, <q><em>Let he who has a superb prayer life cast the first stone.</em></q> That would leave no one, too.</p>

			<p>Everybody struggles with prayer. Because of that, very few people are models for you, challenging and encouraging in this area. You’ll get together with another Christian and say, <q><em>I just have trouble praying, </em></q> and most of the time they’ll say, <q><em>Me too.</em></q></p>
			<p>Everybody struggles with prayer.</p>
	

			<blockquote class="pullquote"><em> We need more people who can say, <q>What’s the problem? Try this. Do this.</q> </em></blockquote>

			<li><strong>Prayer is misunderstood.</strong></li>
			<p>		We wonder, “What is prayer? What do I do first? Then what do I do?” As a result, when you see the word “prayer,” it calls to mind simply a feeling of frustration, discouragement or guilt. For many, prayer is not hard. It’s impossible.

			<p>Author Samuel Taylor Coleridge once wrote,</p>
			<blockquote><p>The act of praying is the highest energy of which the human mind is capable. Praying…with the total concentration of the faculties. The great mass of worldly men and of the learned men are absolutely incapable of prayer.</p></blockquote>

			<p>Do you believe that’s true? After several years of praying, I agree. I wonder what would happen if we were able to lift off the world’s machinery, seeing not your worldly accomplishments, but your spiritual ones.</p>
			
		  <p>What would you look like as people of prayer?</p>
		</ol>

		<hr class="section-divider">
		
		<p>For a lot of us, we’d find our prayer lives were simply endless, boring supplications – a life of complacency, sleepiness, and suspicions that we’re wasting time. But it can be better. It can be different.</p>
		
		<p>You know what we need? A short course on prayer. Fortunately, in the Sermon on the Mount, Jesus gives exactly such a lesson. Look at Matthew 6:5-13.</p>

		<p>There you’ll find 3 qualities of prayer that we are to have.</p>

		<ol>
			<li>To pray privately. (See Matthew 6:5,6)</li>
			<li>To pray genuinely by praying personally, earnestly, honestly, and reverently. (See Matthew 6:7,8)</li>
			<li>To pray with variety. (See the Lord’s prayer in Matthew 6:9-13)</li>
		</ol>

		<p><strong>Praying as the Lord taught will give us the groundwork for an improved prayer life, and help us use our superior weapon.</strong></p>

		<p>Prayer makes God’s resources available to us, which were otherwise unavailable – physical, spiritual, mental, and emotional resources.</p>
		
		<p>Edward MacHenry Baumn, a Civil War chaplain, was well known among his men because every day during the war he would arise at 4 a.m. and pray until 7 a.m. He once wrote,</p>
		
		<blockquote><p>The whole force of Bible statement is to increase our faith in the doctrine that prayer affects God. It secures favors from God which can be secured in no other way, and which will not be bestowed by God if we do not pray.</p></blockquote>

		<p>Prayer is admittedly hard, but it is rewarding.</p>

		<hr class="section-divider">
		</div>
		
		<footer class="article__footer  single-column">
			<h5>More resources on prayer:</h5>
			<p>
				<ul>
					<li>The Purpose of Prayer</li>
					<li>A Guide to Effective Daily Prayer</li>
					<li>6 Vital Questions about Prayer</li>
					<li>When God Says No</li>
				</ul>
			</p>
			
			<p><small><em>©2007 Cru Press, Campus Crusade for Christ, Inc. All rights reserved.  No part of this publication may be digitally reproduced, stored in a retrieval system, or transmitted, without the prior permission of Cru Press.</em></small></p>
		</footer>
	
	{% include footer.html %}
