---
page-class: page--home
---
  {% include head.html %}

    <body  class="page--header  flush  hard">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
			
		<div id="js-container"  class="js-container">
			<header class="site-header"  role="banner">
				<div class="navigation-wrapper">
					<hgroup class="title-group  site-logo">
						<a href="#"  title="Return to Homepage">
							<h1><span class="accessibility">Cru : a caring community passionate about connecting people to Jesus Christ</span></h1>
						</a>
					</hgroup><!--
					
				 --><nav class="navigation">
						<ul class="nav  right-nav  flush--bottom">
							<li>
								<a href="#signup">Sign Up</a>
							<li>
								<a href="#">Log In</a>
							</li>
							
							<li class="spoken-form">
								<form class="site-search"  method="post" onsubmit=""  action="#" name="search">
									<input class="search-field  text-input" placeholder="Search" type="search" />
									<button class="search-button" value="" type="submit"><i class="icon-search"></i></button>
								</form>
							</li>
						</ul>						
						
						<ul class="nav  site-nav  flush--bottom">
							<li>
								<a href="#"  class="nav-link">How to Know God</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">Train & Grow</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">Opportunities</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">About</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">Communities</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">Store</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							<li>
								<a href="#"  class="nav-link">Give</a>
								<div class="dropdown  dropdown__item">
									<div class="small-wrap">
										<ul class="nav"></ul>
									</div>
								</div>
							</li>
							
							
						</ul>
						<a href="#off-canvas"  id="nav-open-btn"  class="topbar-toggle  topbar-open  nav-link  nav-link--full">Menu</a>
						
					</nav>
				</div>
			</header>
			<div  id="js-page-container" class="page-container">
				<div class="content-slider">
				  <div class="slider  layout--cap  centered">

				    <!-- .mask -->
				    <div class="mask">
				      <ul>
				        <li  class="slider__item  slider--main  animate--first js-at-bat">
				          <a href="#camera">
				            <div class="block-image">
				              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_01.jpg')"></div>
				            </div>
				            <div class="article-details">
				              <a href="#camera">
				                <h3>6 Things Every Christian Should Do Super Bowl Weekend</h3>
				              </a>
				              <div class="sub-details">
				                <a href="#camera-author"  class="author">I am an author</a>
				                <span class="subheading">National</span>
				              </div>
				            </div>
				          </a>
				        </li>
				        <li  class="slider__item  slider--second  animate--second  js-on-deck">
				          <a href="#birds">
				            <div class="block-image">
				              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_02.jpg')"></div>
				            </div>
				            <div class="article-details">
				              <a href="#birds">
				                <h3>Emma Had a Burden of Guilt and a Masking Smile</h3>
				              </a>
				              <div class="sub-details">
				                <a href="#birds-author"  class="author">I am an author</a>
				                <span class="subheading">City</span>
				              </div>
				            </div>
				          </a>

				        </li>
				        <li  class="slider__item  slider--next  animate--third js-in-the-hole">
				          <a href="#train">
				            <div class="block-image">
				              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_03.jpg')"></div>
				            </div>
				            <div class="article-details">
				              <a href="#train">
				                <h3>Pre-cancer Susie's Journey of Doubt Before a Brain Tumor</h3>
				              </a>
				              <div class="sub-details">
				                <a href="#train-author"  class="author">I am an author</a>
				                <span class="subheading">National</span>
				              </div>
				            </div>
				          </a>
				        </li>
				        <li  class="slider__item  slider--last  animate--fourth js-last-up">
				          <a href="#tea">
				            <div class="block-image">
				              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_04.jpg')"></div>
				            </div>
				            <div class="article-details">
				              <a href="#tea">
				                <h3>Yes, It's Possible to Have a Long-Distance Ministry</h3>
				              </a>
				              <div class="sub-details">
				                <a href="#tea-author"  class="author">I am an author</a>
				                <span class="subheading">Regional</span>
				              </div>
				            </div>
				          </a>
				        </li>
				      </ul>
				    </div>
				    <!-- end .mask -->
				  </div>

				  <!-- .slider--controls -->
				  <a class="slider-control  slider-control__prev">
								<span class="slider-control--btn">
									<i class="icon-left-arrow"></i>
								</span>
				  </a>
				  <a class="slider-control  slider-control__next">
								<span class="slider-control--btn">
									<i class="icon-right-arrow"></i>
								</span>
				  </a>
				</div>
				
				<div class="color-white  home-banner  push--bottom  soft  center-block">
						<h2 class="h4  callout">Cru is a caring community passionate about connecting people to Jesus Christ</h2>
						<a class="callout-button  button  button--secondary  button--small" href="#">Learn More</a>
				</div>
				<div class="layout-single-column  layout--wide">
					<div class="highlight--top  color-white">
							<ul  class="grid  block-list  soft  text--center  push--bottom">
								<li class="grid__item  portable--one-whole  desk--one-half">
									<h4 class="push-fourth--bottom">Students</h4>
										<img class="push-fourth--bottom" src="//static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_057873~1~staticrendition/cru217x120.jpg" alt="Soularium on Campus">									
										<ul class="block-list  push-half--bottom">
										<li>
											<a href="#">What can happen during a study break?</a>
										</li>
										<li>
											<a href="#">#FallingPlates</a>
											
										</li>
										<li>
											<a href="#">Is Cru on Your Campus?</a>
										</li>
									</ul>
								</li>
								<li class="grid__item  portable--one-whole  desk--one-half">
									<h4 class="push-fourth--bottom">Families</h4>
										<img class="push-fourth--bottom" src="//static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_046720~1~staticrendition/cru217x120.jpg" alt="Marriage Turnaround">									
										<ul class="block-list  push-half--bottom">
										<li>
											<a href="#">Marriage Turnaround</a>											
										</li>
										<li>
											<a href="#">Honoring our Soldiers</a>											
										</li>
										<li>
											<a href="#">25 Ways to Lead Your Family</a>											
										</li>
									</ul>
								</li>
								<li class="grid__item  portable--one-whole  desk--one-half">
									<h4 class="push-fourth--bottom">City</h4>
									<img class="push-fourth--bottom" src="//static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_056938~1~staticrendition/cru217x120.jpg" alt="Uniquely Gifted (image)">
									<ul class="block-list  push-half--bottom">
										<li>
											<a href="#">Does your personality type affect the way you evangelize?</a>											
										</li>
										<li>
											<a href="#">Being a Christian at Work</a>											
										</li>
										<li>
											<a href="#">London: City Lessons</a>											
										</li>
									</ul>
								</li>
								<li class="grid__item  portable--one-whole  desk--one-half">
									<h4 class="push-fourth--bottom">Athletes</h4>
									<img class="push-fourth--bottom" src="//static.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_051639~1~staticrendition/cru217x120.jpg" alt="Kevin Durant: Growing Spiritually (photo)">
									<ul class="block-list  push-half--bottom">
										<li>
											<a href="#">Kevin Durant: Growing Spiritually</a>											
										</li>
										<li>
											<a href="#">Tyler Zeller: From Tournament to NBA</a>											
										</li>
										<li>
											<a href="#">Seahawks' Maragos: Downward Spiral Led Me to Christ</a>											
										</li>
									</ul>
								</li>
							</ul>
					</div>
					<div class="color-white  soft">
						<h3  class="text--center  flush--bottom">Get Started</h3>
						<hr class="section-divider">
					</div>

				</div>
			</div>
		</div>
		
		<nav id="off-canvas" class="js-off-canvas">
			<div class="site-nav--off-canvas  hard">
				<a href="#" id="nav-close-btn"  class="topbar-toggle  topbar-close">Close</a>
				<ol class="nav  nav--stacked  flush">
					<li>
						<form>
							<input type="search"  class="search  text-input"></input>
						</form>
					</li>
					<li>
					    <a href="#">Start with God</a>	
					</li>

					<li>
					  <a href="#">Train & Grow</a>	
					</li>

					<li>
					  <a href="#">Communities</a>	

					</li>

					<li>
					  <a href="#">Opportunities</a>	

					</li>

					<li>
					  <a href="#">About</a>	
					</li>
				
					<li>
					  <a href="#">Store</a>	
					</li>
				
					<li>
					  <a href="#">Give</a>	
					</li>
				</ol>	
			</div>
		</nav>
		
				
		{% include footer.html %}
    <script src="{{ site.root }}offcanvas.min.js"></script>
	
    </body>
</html>