body{
	background-color: #f8f8f8;
}

.page--home .site-content{
	padding: 24px !important;
}

.site-content{
	margin-top: 70px;
}

.pattern{
	clear: both;
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 3em;
	width: 100%;
	border: 1px solid;
	border-color: #dddddd;
	border-radius: 3px;
	
	background-color: #fff;
}

.pattern--alt{
	border: none;
}

.pattern__details{
	color: #004b6a;
	background-color: #f2f2f2;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
	padding: 0.5em 1%;
	overflow: hidden;
	display: block;
	border-bottom: 1px solid;
	border-color: #dddddd;
	border-radius: 3px 3px 0 0;
}



	.pattern__view{
		padding: 10px;
		width: auto;
		background-color: #f8f8f8;
		overflow: hidden;
	}
	

.swatch-group > li:nth-child(4n+4){
		margin-right: 2%;
}
.swatch{
	float: left;
	margin-bottom: 1em;
	width: 96%;
	margin-right: 2%;
	background-color: white;
	padding: 10px 0;
	padding: 0.625rem 0;
	border-radius: 3px;
	border-radius: 0.1875rem;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}


	.swatch__preview{
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		display: block;
		float: left;
		height: 60px;
		width: 100%;
		margin: 0 0.8em 0.5em 0;
	}
	
	.swatch__details{
		padding-left: 0.5em;
	}
	
.article-wrap{
	padding-left: 2rem;
	padding-right: 2rem;
	
}

code{
	font-size: 90%;
}

.demo-header {
	padding-left: 24px;
	padding-right: 24px;
	
	max-height: 68px;

	border-bottom: 1px solid #ddd;
	
	nav{
		float: right;
		line-height: 68px;
		
	}
}

.demo-logo{
	position: absolute;
	top: 5px;
	float: left;
	
	display: inline-block;
	width: 78px;
	height: 54px;
	background: url("assets/images/cru-logo.png");
	background-image: url("assets/images/cru-logo.svg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

%grid-demo{
	min-height: 80px;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
	background-color: #dddddd;
}

.grid-demo .pattern__view{
	.one-whole{
		@extend %grid-demo;
		
	}
	.one-half{
		@extend %grid-demo;	
	}
	
	.one-third{
		@extend %grid-demo;	
		
	}
	
	span{
		display: inline-block;
		line-height: 80px;
	}
}