/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in brackets.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if brackets.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. Brackets.css ignores its own variables in favour of
 * using your own, so you can completely modify how brackets.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of brackets.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-nav:           true;
$use-buttons:       true;
$use-island:        false;
$use-block-list:    false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;




/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override brackets.css’ defaults here.
 */





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of brackets.css here.
 */





/*------------------------------------*\
    $Font Families
\*------------------------------------*/
$base-font-family: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
$numberal-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

$base-font-color: #353535;
$base-background: #f7f7f7;



/*------------------------------------*\
    $Color Palette
\*------------------------------------*/
/**
 * Primary colors
 */

$color-gold:         #f9b625; /* Cru Gold */
$color-gray:         #666062; /* Cru Gray */
$color-white:        #ffffff; /* White */

/**
 * Secondary colors
 */
$color-orange:       #dd7d1b; /* Cru Orange */

/**
 * Accent colors
 */
$color-bright-blue:  #3eb1c8; /* Cru Bright Blue */
$color-deep-blue:    #007398; /* Cru Deep Blue */

/**
 * Grayscale
 */ 
$color-black:        #444444; /* Cru Gold */
$color-dark-gray:    #444444; /* Cru Gold */



/**
 * Additional Colors
 */

$color-red:          #d95c5c;





/*------------------------------------*\
    $BUTTON SETTINGS
\*------------------------------------*/
$btn-font-size:        16px;
$btn-default-padding:  0;

$btn-default-color:            #6d6e71;
$btn-default-bg:               #f1f1f1;
$btn-default-border:           darken($btn-default-bg, 10%);

$btn-primary-color:            $color-white;
$btn-primary-bg:               $color-gold;
$btn-primary-border:           darken($color-gold, 5%);

$btn-alt-color:                $color-white;
$btn-alt-bg:                   $color-gray;
$btn-alt-border:               darken($btn-alt-bg, 5%);

$btn-subtle-color:             #6d6e71;
$btn-subtle-bg:                rgba(229, 229, 229, 0.35);
$btn-subtle-border:            darken($btn-subtle-bg, 5%);

$btn-unstyled-color:           $base-font-color;
$btn-unstyled-bg:              transparent;
$btn-unstyled-border:          transparent;

$btn-large-padding:    0 36px;
$btn-large-min-height: 50px;


$btn-small-padding:    0 16px;
$btn-small-height:     30px;
$btn-small-min-height: 10px;

$btn-disabled-color:   #999595;
$btn-disabled-bg:      #e5e5e5;
$btn-disabled-border:  darken($btn-disabled-bg, 5%);



/*------------------------------------*\
    $URL PATHS
\*------------------------------------*/
$cru-logo-primary:      url("images/cru-logo.svg");
$cru-logo-fallback:     url("images/cru-logo.png");





/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/

$base-animation-time:	 250ms;
$base-animation-delay:   250ms;





/*------------------------------------*\
    $ADDITIONAL
\*------------------------------------*/
$header-height: 73px;