    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
			<div class="page--header">
				<header class="demo-header">
						<a class="demo-logo" href="{{ site.root }}"></a>					
				</header>
			</div>
			<select  class="site--select">
				<option value>Jump To...</option>

				<optgroup label="Branding">
					<option value="{{ site.root }}#logo">Logo</option>
					<option value="{{ site.root }}#font">Font</option>
					<option value="{{ site.root }}#icons">Icons</option>
					<option value="{{ site.root }}#colors">Colors</option>
				</optgroup>
				<optgroup label="Elements">
					<option value="{{ site.root }}#buttons">Buttons</option>
					<option value="{{ site.root }}#forms">Forms</option>
					<option value="{{ site.root }}#headings">Headings</option>
					<option value="{{ site.root }}#links">Links</option>
					<option value="{{ site.root }}#lists">Lists</option>
					<option value="{{ site.root }}#media">Media</option>
					<option value="{{ site.root }}#tables">Tables</option>
					<option value="{{ site.root }}#text">Text</option>
				</optgroup>
				<optgroup label="Global">
					<option value="{{ site.root }}#head">Head</option>
					<option value="{{ site.root }}blocks/header/">Header</option>					
					<option value="{{ site.root }}#footer">Footer</option>
				</optgroup>
				<optgroup label="Layouts">
					<option value="{{ site.root }}#layouts-one-whole">One Whole</option>
					<option value="{{ site.root }}#layouts-one-half-one-half">Halfs</option>
					<option value="{{ site.root }}#layouts-two-thirds-one-third">Two-Thirds / One-third</option>
					<option value="{{ site.root }}#layouts-one-third-two-thirds">One-third / Two-thirds</option>
					<option value="{{ site.root }}#layouts-one-fourth-three-fourth">One-fourth / Three-fourths</option>
				</optgroup>			
        <!--
				<optgroup label="Patterns">
					<option value="{{ site.root }}blocks/slider/">Slider</option>
					<option value="{{ site.root }}#content-block-calender">Comments</option>
					<option value="{{ site.root }}#content-block-calender">Calender</option>
					<option value="{{ site.root }}#content-block-contact">Contact</option>
					<option value="{{ site.root }}#content-block-about">About</option>
					<option value="{{ site.root }}#content-block-meetings">Meetings</option>
					<option value="{{ site.root }}#content-block-navigation">Navigation</option>
					<option value="{{ site.root }}#content-block-content-block-profile">Profile</option>
					<option value="{{ site.root }}#content-block-stories">Stories</option>
					<option value="{{ site.root }}#content-block-alumni">Alumni</option>
					<option value="{{ site.root }}#content-block-get-involved">Get Involved</option>
					<option value="{{ site.root }}#content-block-social">Social Media</option>
				</optgroup>
        -->
				<optgroup label="Static Page Templates">
					<option value="{{ site.root }}static/templates/home.html">Home</option>
					<option value="{{ site.root }}static/templates/article.html">Articles</option>
					<option value="{{ site.root }}static/templates/article-long-form.html">Article Long Form</option>
					<option value="{{ site.root }}static/templates/content.html">Content</option>
          
				</optgroup>
				<optgroup label="Static Components">
					<option value="{{ site.root }}static/components/001-section-title.html">Section Title</option>
					<option value="{{ site.root }}static/components/002-search.html">Search</option>
    			<option value="{{ site.root }}static/components/002.1-search-results.html">Search Results</option>
					<option value="{{ site.root }}static/components/003-main-navigation.html">Main Navigation (Not Finished)</option>
					<option value="{{ site.root }}static/components/005-home-social-component.html">Home Social</option>
					<option value="{{ site.root }}static/components/006-home-image-slider.html">Slider</option>
					<option value="{{ site.root }}static/components/008-tile-component.html">Tiles</option>
					<option value="{{ site.root }}static/components/011-social-media-component.html">Social Media Component</option>
          <option value="{{ site.root }}static/components/012-social-links-component.html">Social Links Component</option>
          <option value="{{ site.root }}static/components/013-footer.html">Footer</option>
          <option value="{{ site.root }}static/components/014-captioned-image-component.html">Captioned Image Component</option>
          <option value="{{ site.root }}static/components/015-queried-list-component.html">Queried List Component</option>
          <option value="{{ site.root }}static/components/016-article-headline-component.html">Article Headine Component</option>
          <option value="{{ site.root }}static/components/017-text-image-component.html">Text/Image Component</option>
          <option value="{{ site.root }}static/components/018-article-share-component.html">Article Share Component</option>
          <option value="{{ site.root }}static/components/019-article-subtitle.html">Article Subtitle</option>
          <option value="{{ site.root }}static/components/020s-legacy-image.html">Legacy Image</option>
    			<option value="{{ site.root }}static/components/021-related-stories.html">Related Stories</option>
    			<option value="{{ site.root }}static/components/022-facebook-comments-feed.html">Facebook Comments Feed</option>
    			<option value="{{ site.root }}static/components/023-inset-sidebar.html">Inset Sidebar</option>
    			<option value="{{ site.root }}static/components/024-horizontal-tile.html">Horizontal Tile</option>
    			<option value="{{ site.root }}static/components/025-traversed-list.html">Traversed List</option>
    			<option value="{{ site.root }}static/components/026-media-embed-component.html">Media Embed Component</option>
    			<option value="{{ site.root }}static/components/027-link-list.html">Link List</option>
    			<option value="{{ site.root }}static/components/028-curated-list-component.html">Curated List Component</option>
    			<option value="{{ site.root }}static/components/029-featured-story-queried-list.html">Featured Story Queried List</option>
    			<option value="{{ site.root }}static/components/030-traversed-country-list.html">Traversed Country List</option>
    			<option value="{{ site.root }}static/components/032-campus-locator.html">Campus Locator (Not Finished)</option>
    			<option value="{{ site.root }}static/components/033-generic-form.html">Generic Form (Not Finished)</option>
    			<option value="{{ site.root }}static/components/034-daily-content.html">Daily Content</option>
    			<option value="{{ site.root }}static/components/035-article-metadata.html">Article Metadata</option>
          
				</optgroup>
			</select>
	<main class="site-content">