    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
			<div class="page--header">
				<header class="site-header  demo-header">
						<a class="demo-logo" href="{{ site.root }}"></a>					
				</header>
			</div>
			<select  class="site--select">
				<option value>Jump To...</option>

				<optgroup label="Branding">
					<option value="{{ site.root }}#logo">Logo</option>
					<option value="{{ site.root }}#font">Font</option>
					<option value="{{ site.root }}#icons">Icons</option>
					<option value="{{ site.root }}#colors">Colors</option>
				</optgroup>
				<optgroup label="Elements">
					<option value="{{ site.root }}#buttons">Buttons</option>
					<option value="{{ site.root }}#forms">Forms</option>
					<option value="{{ site.root }}#headings">Headings</option>
					<option value="{{ site.root }}#links">Links</option>
					<option value="{{ site.root }}#lists">Lists</option>
					<option value="{{ site.root }}#media">Media</option>
					<option value="{{ site.root }}#tables">Tables</option>
					<option value="{{ site.root }}#text">Text</option>
				</optgroup>
				<optgroup label="Global">
					<option value="{{ site.root }}#head">Head</option>
					<option value="{{ site.root }}blocks/header/">Header</option>					
					<option value="{{ site.root }}#footer">Footer</option>
				</optgroup>
				<optgroup label="Layouts">
					<option value="{{ site.root }}#layouts-one-whole">One Whole</option>
					<option value="{{ site.root }}#layouts-one-half-one-half">Halfs</option>
					<option value="{{ site.root }}#layouts-two-thirds-one-third">Two-Thirds / One-third</option>
					<option value="{{ site.root }}#layouts-one-third-two-thirds">One-third / Two-thirds</option>
					<option value="{{ site.root }}#layouts-one-fourth-three-fourth">One-fourth / Three-fourths</option>
				</optgroup>
				
				<optgroup label="Patterns">
					<option value="{{ site.root }}blocks/articles/demo1/">Articles</option>
					<!--
					<option value="{{ site.root }}blocks/slider/">Slider</option>
					<option value="{{ site.root }}#content-block-calender">Comments</option>
					<option value="{{ site.root }}#content-block-calender">Calender</option>
					<option value="{{ site.root }}#content-block-contact">Contact</option>
					<option value="{{ site.root }}#content-block-about">About</option>
					<option value="{{ site.root }}#content-block-meetings">Meetings</option>
					<option value="{{ site.root }}#content-block-navigation">Navigation</option>
					<option value="{{ site.root }}#content-block-content-block-profile">Profile</option>
					<option value="{{ site.root }}#content-block-stories">Stories</option>
					<option value="{{ site.root }}#content-block-alumni">Alumni</option>
					<option value="{{ site.root }}#content-block-get-involved">Get Involved</option>
					<option value="{{ site.root }}#content-block-social">Social Media</option>
					-->
				</optgroup>
				<optgroup label="Static Page Templates">
					<option value="{{ site.root }}static/templates/home.html">Home</option>
					
				</optgroup>
				<optgroup label="Static Components">
					<option value="{{ site.root }}static/components/001-section-title.html">Section Title</option>
					<option value="{{ site.root }}static/components/002-search.html">Search</option>
					<option value="{{ site.root }}static/components/003-main-navigation.html">Main Navigation</option>
					<option value="{{ site.root }}static/components/004-social-component.html">Social</option>
					<option value="{{ site.root }}static/components/005-slider.html">Slider</option>
					<option value="{{ site.root }}static/components/006-tile-component.html">Tiles</option>
					
				</optgroup>
			</select>
	<main class="site-content">