{% include head.html %}
<div class="p">
	<h1 class="h2">
		Static HTML files
	</h1>
	<ol>
		<h2  class="h4  m0">Templates</h4>
  		<li>
  			<a href="{{site.root}}static/templates/article.html">Article</a>
  		</li>
  		<li>
  			<a href="{{site.root}}static/templates/article-long-form.html">Article Long Form (Not Finished)</a>
  		</li>
		<li>
			<a href="{{site.root}}static/templates/content.html">Content (Not Finished)</a>
		</li>
		<li>
			<a href="{{site.root}}static/templates/home.html">Home</a>
		</li>
	</ol>
	<ol>
		<h2  class="h4  m0">Components</h4>
		<li>
			<a href="{{site.root}}static/components/001-section-title.html">Section Title</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/002-search.html">Search</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/003-main-navigation.html">Main Navigation</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/005-home-social-component.html">Social</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/006-home-image-slider.html">Slider</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/008-tile-component.html">Tile Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/011-social-media-component.html">Social Media Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/012-social-links-component.html">Social Links Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/013-footer.html">Footer</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/014-captioned-image-component.html">Captioned Image Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/015-queried-list-component.html">Queried List Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/016-article-share-component.html">Article Headling Component</a>
		</li>
	</ol>	
</div>
