{% include head.html %}
<div class="p">
	<h1 class="h2">
		Static HTML files
	</h1>
	<ol>
		<h2  class="h4  m0">Templates</h4>
  		<li>
  			<a href="{{site.root}}static/templates/article.html">Article</a>
  		</li>
  		<li>
  			<a href="{{site.root}}static/templates/article-long-form.html">Article Long Form</a>
  		</li>
		<li>
			<a href="{{site.root}}static/templates/content.html">Content</a>
		</li>
		<li>
			<a href="{{site.root}}static/templates/home.html">Home</a>
		</li>
	</ol>
	<ol>
		<h2  class="h4  m0">Components</h4>
		<li>
			<a href="{{site.root}}static/components/001-section-title.html">Section Title</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/002-search.html">Search</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/002.1-search-results.html">Search Results</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/003-main-navigation.html">Main Navigation (Not Finished)</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/005-home-social-component.html">Social</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/006-home-image-slider.html">Slider</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/008-tile-component.html">Tile Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/011-social-media-component.html">Social Media Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/012-social-links-component.html">Social Links Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/013-footer.html">Footer</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/014-captioned-image-component.html">Captioned Image Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/015-queried-list-component.html">Queried List Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/016-article-headline-component.html">Article Headine Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/017-text-image-component.html">Text/Image Component</a>
		</li>
    
		<li>
			<a href="{{site.root}}static/components/018-article-share-component.html">Article Share Component</a>
		</li>
    
		<li>
			<a href="{{site.root}}static/components/019-article-subtitle.html">Article Subtitle</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/020-legacy-image.html">Legacy Image</a>
		</li>
    
		<li>
			<a href="{{site.root}}static/components/021-related-stories.html">Related Stories</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/022-facebook-comments-feed.html">Facebook Comments Feed</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/023-inset-sidebar.html">Inset Sidebar</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/024-horizontal-tile.html">Horizontal Tile</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/025-transversed-list.html">Traversed List</a>
		</li>  
		<li>
			<a href="{{site.root}}static/components/026-media-embed-component.html">Media Embed Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/027-link-list.html">Link List</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/028-curated-list-component.html">Curated List Component</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/029-featured-story-queried-list.html">Featured Story Queried List</a>
		</li> 
		<li>
			<a href="{{site.root}}static/components/030-traversed-country-list.html">Traversed Country List</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/032-campus-locator.html">Campus Locator (Not Finished)</a>
		</li>
		<li>
			<a href="{{site.root}}static/components/033-generic-form.html">Generic Form (Not Finished)</a>
		</li>
        <li>
			<a href="{{site.root}}static/components/034-daily-content.html">Daily Content</a>
        </li>
		<li>
			<a href="{{site.root}}static/components/035-article-metadata.html">Article Metadata</a>
		</li>
      
	</ol>	
</div>
