@include keyframes(sliderBegin) {
    from {
        left: -31.4%
	}	
    to {
        left: -90%
	}
}

@include keyframes(sliderEnd) {
    from {
        left: 180%
	}	
    to {
        left: 100.85%
	}
}
@include keyframes(sliderReverseBegin) {
    from {
        left: 100.85%
	}	
    to {
        left: 180.45%
	}
}

@include keyframes(sliderReverseEnd) {
    from {
        left: -90.55%
	}	
    to {
        left: -31.4%
	}
}