.background-size-contain{
	@include rem-calc(margin-bottom, $base-line-height);
}

.article__footer {
	@include rem-calc(margin-bottom, $base-line-height * 3);
}

.article__list{
	margin-left: 0;
	
	li{
		@include mq(716px, max){
			@include rem-calc(margin-left, 22px);
		}
	}
}

body {
		line-height: 1.6;
		@include font-size(19px);
		
		@include mq(800px){
			line-height: 1.5;
			@include font-size(22px);
		}
}

.article__content{
}

.accent{
	&:after{
		content: "-";
		@include rem-calc(margin-left, 12px);
		@include rem-calc(margin-right, 12px);
	}
}


.article__image--primary{
	img{
		width: 100%;
	}
}

.section-divider{
	display: block;
	width: 14%;
	margin: 50px auto 40px auto;
	border: 0;
	border-top: 1px solid #dddddd;
}


.article-title{
	margin-bottom: 10px;
	
	font-weight: 100;
}

.post-meta{
	margin-left: 0;
	list-style-type: none;
	color: $color-gray;
	line-height: 1.6;
	
	@include font-size(16px, false);
	
	> li{
		display: inline-block;
	}
	
	&, 
	a{
		color: $color-gray;
	}
}

.pullquote{
	border-left-color: transparent;
	margin: 48px -100px;
	text-align: center;
	@include vendor(transition, margin .1s);
	
	em{
		font-style: normal;
		font-weight: 500;
		font-size: 110%;
	}
}

.post-image{
	img{
		width: 100%;
	}
}

	.post-image__caption{
		position: relative;
		width: 100%;
		text-align: center;
		left: 0;
		margin-top: 10px;
	
		@include mq(1164px){
			position: absolute;
			left: -172px;
			width: 150px;
			top: 0;
			text-align: right;
			margin-top: 0;
			line-height: 1.6;
		
			&:before{
				width: 25%;
				margin-left: 75%;
				border-top: 1px solid #dddddd;
				display: block;
				content: "";
				margin-bottom: 10px;
			}
		}
	
	}

	.post-image__credit{
		position: absolute;
		top: 55px;
		right: -56px;
		
		
		max-width: 80%;
		padding: 8px;
		
		background-color: rgba(0,0,0,0.5);
		
		
		color: $color-white;
		line-height: 1.6;
		font-weight: 600;
		text-transform: uppercase;
		text-align: right;

		@include font-size(10px, false);
		@include vendor(transform, rotate(-90deg))
	}
	
.image-credit{
	display: block;
	margin-top: 16px;
	font-size: 80%;
	color: #666062;
}

.source{
	@include rem-calc(margin-top, $base-line-height / 2);
	&:before{
		content: "-";
	}
}




