/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/** 
 * Use this mixin to quickly pump out buttons:
 * @mixin btn($background, $border, $color).
 *
 * Change the hover and other states with:;
 * @mixin btn-effects($background, $border, $color).
 * 
 * Quick not that it will not work with transparency due to 
 * the hover states. 
 */

.button-group{
	@extend %display--block;
	
	.button{
		@extend %mb--;
	}
}


.button--primary{
	@extend %text--white;	
	@include btn($btn-primary-bg, $btn-primary-border);
    @include btn-effects(darken($btn-primary-bg, 8%), darken($btn-primary-border, 12%), $color-white)
    
}

.button--secondary{
	@extend %text--white;	
	@include btn($btn-alt-bg, $btn-alt-border);
    @include btn-effects(darken($btn-alt-bg, 8%), darken($btn-alt-border, 12%), $color-white)
    
}

.button--subtle, input.button--subtle{
	background-color: $btn-subtle-bg-fallback;
	@include btn($btn-subtle-bg, $btn-subtle-border, $btn-subtle-color);
    @include btn-effects($btn-alt-bg, $btn-alt-border, $color-white)
}

.button--unstyled, 
input.button--unstyled{
	&:link, &:visited, &:hover, &:focus, &:active{
		color: $btn-unstyled-color;
		background-color: $btn-unstyled-bg;
		border-color: $btn-unstyled-border;

		&:hover{
			color: $base-text-color;
		}
	}
}

.button--full{
	@extend %full-width;
}


.button--icon{
	background: transparent;
	border: none;
}
