/*------------------------------------*\
    $CAMPUS-LOCATOR
\*------------------------------------*/
/**
 * Used for background colors at the moment, text is either in 
 * the default text color or white. You can extend %text-white
 * found in the _utilities.scss file if you wish to change the
 * text color. 
 */

.ui-helper-hidden-accessible{
    @extend .accessibility;
}


.state-select-results{
    a{  
        small{
            @extend %text-base;
        }
    }
}

a + .phone{
    @extend .accent;
}


.contact__titles{
    @extend %display--none;
    
    @include mq(981px) { 
        display: block;
    }
}

    .contact__title-name{
        @extend %weight--semibold;
        @extend %small-text;
    }

.contact__item{
    border-bottom: 1px solid #d0d0d0;    
}

.locations{ 
    
    .locations__select{
        @extend %me;
        
        @include mq(600px) {
            display: none;
        }
    }
    
    .locations__list{
        @extend %display--none;
        
        @include mq(600px) {
            display: block;
        }
    }
    
        li{
            @include mq(600px) {
            width: 33.3333333%;
            }
            
            & > a{
                @extend %mb0;
                @extend %basic-transition;
                                
                &:hover{
                    @extend %decoration--none;
                    background-color: #f6f6f6;
                    
                }
            }
        }
        
        
}