/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Used for background colors at the moment, text is either in 
 * the default text color or white. You can extend %text-white
 * found in the _utilities.scss file if you wish to change the
 * text color. 
 */

/**
 * Primary Colors
 */
.color-gold, %color-gold                 { background-color: $color-gold; }
.color-gray, %color-gray                 { background-color: $color-gray; }
.color-white, %color-white               { background-color: $color-white; }


/**
 * Secondary Colors
 */
.color-orange, %color-orange             { background-color: $color-orange; }



/**
 * Accent Colors
 */
.color-bright-blue, %color-bright-blue   { background-color: $color-bright-blue; }
.color-deep-blue, %color-deep-blue       { background-color: $color-deep-blue; }