/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.global-footer {
	> nav{
		background: $base-background;
		border-top: 5px solid;
		border-color: $color-gold;
		color: white;
		width: 100%;
		padding: 0;
		padding: 30px 0 20px;
		padding: 1.875rem 0 1.25rem;
		text-align: center;
		
		ul{
			text-align: center;
		}
		
		a{
			color: $color-black;
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	
	.copy{
		background-color: $color-gray;
		text-align: center;
		
		padding: 30px 0 20px;
		@include rem-calc(padding-top, $base-line-height);	
		@include rem-calc(padding-bottom, $base-line-height);	
		
		color: $color-white;
	}
}