/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.global-footer {
	margin-top: 100px;
	
	.section-divider{
		border-color: $color-gold;
	}
	> nav{
		color: white;
		width: 100%;
		padding-bottom:1.25rem;
		text-align: center;
		
		ul{
			text-align: center;
		}
		
		a{
			color: $color-black;
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	
	.copy{
		text-align: center;
		
		@include rem-calc(padding-bottom, $base-line-height);	
		
	}
}