input[type="checkbox"], input[type="radio"]{
	display: inline-block;
	vertical-align: middle;
	
	@include rem-calc(padding-top, 12px);
	@include rem-calc(padding-bottom, 12px);
	@include rem-calc(margin-right, 8px);
	@include rem-calc(margin-bottom,  2px);
	
	@include rem-calc(font-size, 14px);
}

select[multiple]{
	height: auto;
}


select, textarea, input[type="text"], 
button, input[type="button"], input[type="submit"], .button--disabled {
	
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
  		background: #e5e5e5;
  		background: rgba(229, 229, 229, 0.5);
			cursor: not-allowed;
      }
  }
}

.spoken-form input{
	display: inline-block;
	
	width: auto;
}

.form-help{
	display: block;
	opacity: 0;
	max-height: 0;
	top: -1.1538461538461537em;
	overflow: hidden;
	@include vendor(transition, all $base-animation-time);
	
}

.text-input{
	@include vendor(transition, all $base-animation-time);
	&:active, &:focus{
		border-color: darken($base-ui-color, 25%);
		
		& + .form-help{
			top: 0;
			opacity: 1;
		}
	}
}

input + .additional{
	@include rem-calc(margin-top, 6px);
}

label{
	@include rem-calc(margin-bottom, 6px);
}

.additional, .check-list > li{
	@include rem-calc(margin-bottom, 12px);
}
