/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

.mask--circle{
    @extend %display--inline-block;
    @extend %overflow--hide;
    
	border-radius: 50%;
}

.mask--cover-image{
    @extend %full-width;
    @extend %full-height;
    
    display: table;
}

    .cover-image{
        @extend %position--absolute;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;      
        
        background-position: center;  
        
        @include vendor(background-size, cover);  
    }
    

.action-icons{
    @extend %display--inline-block;
	@extend %full-width;
    @extend %full-height;
    
    max-width: 150px;
    vertical-align: middle;
}	
    