.base-layout, %base-layout{
	width: auto;
	
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
	
	@include mq(680px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.layout-single-column, %layout-single-column{
	@extend %base-layout;
		
	@include mq(680px) {
		width: 640px;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.layout--wide{
	@extend %layout-single-column;
	
	@include mq(1000px){
		width: 880px;
	}
}

.layout--cap{
	@extend %base-layout;

	max-width: 1100px;
}

.layout-single-column--wide{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}


@mixin device-type($namespace:""){
	#{$class-type}#{$namespace}one-half + #{$class-type}#{$namespace}one-half{
		float: right;
	}
	
	#{$class-type}#{$namespace}one-third + #{$class-type}#{$namespace}one-third,
	#{$class-type}#{$namespace}one-third + #{$class-type}#{$namespace}two-thirds {
		margin-left: 2%;
	}
	
	#{$class-type}#{$namespace}one-third:nth-child(4n+4){
		margin-left: 0;
	}

	#{$class-type}#{$namespace}two-thirds{
		width: 64%;
	}

	#{$class-type}#{$namespace}layout-minor{
		width: 26%;
		float: left;
	}

	#{$class-type}#{$namespace}layout-major{
		float: right;
		width: 70%;
	}
	
	#{$class-type}#{$namespace}one-quarter{
		width: 23%;
		margin-right: 2%;
	}
	#{$class-type}#{$namespace}one-quarter:nth-child(4n+4){
		margin-right: 0;		
	}
}

/**
 * Our regular, non-responsive width classes.
 */
@include device-type();


/**
 * Our responsive classes, if we have enabled them.
 */
@if $responsive == true{

    @each $name in $breakpoint-has-widths {
        @include grid-media-query($name) {
           @include device-type('#{$name}--');
        }
    }


}