.layout-single-column, %layout-single-column{
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
	
	@include mq(680px) {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.layout-wide{
	@extend %layout-single-column;
}


.one-half + .one-half{
	float: right;
}

.one-third + .one-third {
	margin-left: 2%;
}