.base-layout, %base-layout{
	width: auto;
	
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
	
	@include mq(680px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.layout-single-column, %layout-single-column{
	@extend %base-layout;
		
	@include mq(680px) {
		width: 640px;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.layout--wide{
	@extend %layout-single-column;
	
	@include mq(1000px){
		width: 880px;
	}
}

.layout--cap{
	width: auto;
	max-width: 1100px;	
	margin-left: auto;
	margin-right: auto;
	clear: both;
	
}


.one-half + .one-half{
	float: right;
}

.one-third + .one-third, .one-third + .two-thirds {
	margin-left: 2%;
}

.one-quarter{
	width: 23%;
	margin-right: 2%;
}

.one-quarter:nth-of-type(4n+4) {
	margin-right: 0;
}

.two-thirds{
	width: 64%;
}

.layout-single-column--wide{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}
