body{
	padding: 0 !important;
	word-break: break-word;
}

.page-container{
	background-color:#f4f4f4;
	
	@include rem(margin-top, 70px);
	@include rem(padding-top, 38px);
}

.page-content, .single-column{
	max-width: 800px;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	
	@include mq(680px) {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.background-size-contain.layout-single-column{
	@include mq(500px, max){
		margin-left: 0;
		margin-right: 0;
	}
}

.home-banner{
	@extend %cf;
		
	.h4, a{
		@include mq(981px) {
			display: inline-block;
		}
	}
}

	.callout{
		margin-bottom:$base-line-height;
		@include mq(981px) {
			margin-bottom: 0;
		}		
	}
	
	.callout-button{
		@include mq(981px) {
			text-align: left;
		}
	}

.grid--rev > .grid__item{
	float: right;
}	

.grid--rev > .one-third + .two-thirds{
	margin-left: 0;
	margin-right: 2%;
}
	
.action-icons{
	height: 100%;
	width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
}	
.mask--circle{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.affordance:after {
	@extend .icon-right-circle:before;
	
    color: $color-gold;
    font-family: "cruicons";
    padding-left: 10px;
}
	