.container{    
	@include vendor(transition, right, width 400ms ease);
	@include vendor(transition-property, right, width 400ms ease);
}

.pusher{
    left: 0;
}







.page-content{	
	@include rem(padding-top, 110px);
}

.single-column{
	max-width: 800px;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	
	@include mq(680px) {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.background-size-contain.layout-single-column{
	@include mq(500px, max) {
		margin-left: 0;
		margin-right: 0;
	}
}

.background-stretch{
	@include mq(500px, max) {
        @include rem-calc(margin-left,  -$base-spacing-unit);
        @include rem-calc(margin-right, -$base-spacing-unit);
	}
}

.home-banner{
	@extend %cf;
		
	.h4, a{
		@include mq(981px) {
			display: inline-block;
		}
	}
}

	.callout{
		margin-bottom:$base-line-height;
		@include mq(981px) {
			margin-bottom: 0;
		}		
	}
	
	.callout-button{
		@include mq(981px) {
			text-align: left;
		}
	}

.grid--rev > .grid__item{
	float: right;
}	

.grid--rev > .one-third + .two-thirds{
	margin-left: 0;
	margin-right: 2%;
}
	
.action-icons{
	height: 100%;
	width: 100%;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}	
.mask--circle{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.affordance:after {
	@extend .icon-right-circle:before;
	
    color: $color-gold;
    font-family: "cruicons";
    padding-left: 10px;
    font-size: 18px;
}


.locations{ 
    
    .locations__select{
        @extend %me;
        
        @include mq(600px) {
            display: none;
        }
    }
    
    .locations__list{
        @extend %display--none;
        
        @include mq(600px) {
            display: block;
        }
    }
    
        li{
            @include mq(600px) {
            width: 33.3333333%;
            }
            
            & > a{
                @extend %mb0;
                @extend %basic-transition;
                                
                &:hover{
                    @extend %decoration--none;
                    background-color: #f6f6f6;
                    
                }
            }
        }
        
        
}