body{
	padding: 0 !important;
	word-break: break-word;
}

.page-container{
	background-color:#f4f4f4;
	
	@include rem(margin-top, 70px);
	@include rem(padding-top, 38px);
}

.page-content, .single-column{
	max-width: 800px;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	
	@include mq(680px) {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	
	@include mq(800px){
		width: 700px;
	}
}

.background-size-contain.layout-single-column{
	@include mq(500px, max){
		margin-left: 0;
		margin-right: 0;
	}
}

.home-banner{
	padding: $base-line-height;
	.h4, a{
		@include mq(981px) {
			//display: inline-block;
		}
	}
	
	a{
		
	}	
}

	.callout{
		@include mq(981px) {
			//float: left;
		}
	}
	
	.callout-button{
		//float: left;
		width: auto;
		@include mq(981px){
			//float: right;
		}
	}

	