/*------------------------------------*\
    $SEARCH
\*------------------------------------*/
.right-nav{
	.spoken-form{
		padding-left: 18px;
		padding-right: 18px;
	}
}

.primary-search{
	position: relative;
	top: 2px;
}

	.search-field{
		width: 254px;
		max-height: 16px;
		line-height: 18px;
		border-width: 1px;
		
		font-size: 80%;
		&::-webkit-input-placeholder { font-size: 14px;}
		      &::-moz-placeholder { font-size: 14px;}
		      &:-ms-input-placeholder { font-size: 14px;}
		      &:-moz-placeholder { font-size: 14px;}
	}
	.search-button{
		position: absolute;
		top: 0;
		right:0;
		
		
		background: transparent;
		padding-left: 10px;
		padding-right: 10px;
		border: none;
		
		> i{
			color: $btn-default-color;
			font-size: 70%;
			
		}
	}
