thead{
	th{
        @extend %ui-border-b2;
        @extend %color-border-ui; 
	}
}

tbody{
    @extend %ui-border-b1;
    @extend %color-border-ui; 
	
	tr{
        @extend %ui-border-b1;
        @extend %color-border-ui; 
	}
}

.table{
    @extend %ui-border-b1;
    @extend %ui-border-radius2;
    
    @extend %color-border-ui; 
    
}

.col-head{
    @extend %color-accent-bg;
    @extend %ui-border-b1;
    @extend %color-border-ui; 
    
    &:first-child{
        @extend %ui-border-radius-tl2;
        @extend %ui-border-radius-tr2;        
    }
    
    &:last-child{
        @extend %ui-border-radius-tr2;
    }
}

.event{
    @extend %full-width;
    @extend %color-white;
    @extend %ui-border-1;    
    @extend %color-border-ui; 
    @extend %ui-border-radius;
    
    tbody{
        @extend %ui-border-b0; 
    }
    
    tr{
        &:last-child{
             @extend %ui-border-b0;
        }
    }
}

.row-head{
    @extend %weight--semibold;
    @extend %color-accent-bg;
    
    line-height: 36px;
    color: #595959;
}

	td{
		vertical-align: top;
	}
