abbr[title="required"], abbr[title="Required"] {
	color: $color-red;
	border-bottom: none;
}

figcaption{
	@include rem-calc(margin, 5px 0 15px);
	@include font-size(14px);
}

blockquote{
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: italic;
	border-left: 3px solid $color-gold;
	margin-left: -26px;
	padding-bottom: 3px;
	@include rem-calc(padding-left, 28px);
	
}