.inline-block, %inline-block    { display: inline-block; }


.flush, %flush                  { margin:        0 !important; }
.flush--bottom, %flush--bottom  { margin-bottom: 0 !important; }


.text-white, %text--white       { color: $color-white !important; }

.basic-transition, %basic-transition{ @include vendor(transition, 250ms ease-in) }

.decoration--none, %decoration--none{ text-decoration: none; }