/** @mixin button-variant($color, $background, $border) **/
.button-group{
	display: block;
}


.button--large, input.button--large{
	min-height: $btn-large-min-height;
	line-height: ceil($btn-font-size / $btn-large-min-height) * ($btn-large-min-height / $btn-font-size);
	@include rem-calc(padding, $btn-large-padding);
}

.button--small, input.button--small{
	height: $btn-small-height;
	min-height: $btn-small-min-height;
	
	line-height: ceil($btn-font-size / $btn-small-height) * ($btn-small-height / $btn-font-size);
	
	@include rem-calc(padding, $btn-small-padding);
}


.button--alt, input.button--alt{
	@include button-variant($btn-alt-color, $btn-alt-bg, $btn-alt-border);
	
}

.button--disabled, button[disabled], input[disabled]{
	cursor: not-allowed;
	text-shadow: none;
	
	@include button-variant($btn-disabled-color, $btn-disabled-bg, $btn-disabled-border);
}

.button--subtle, input.button--subtle{
	background-color: #e9e9e9;
	@include button-variant($btn-subtle-color, $btn-subtle-bg, $btn-subtle-border);
}

.button--unstyled, input.button--unstyled, .button--unstyled:link, .button--unstyled:visited, .button--unstyled:hover, .button--unstyled:focus, .button--unstyled:active{
	color: rgba(0, 0, 0, 0.6);
	background-color: transparent;
	border-color: transparent;
	
	
	&:hover{
		color: $base-font-color;
	}
}