/**
 * Primary Colors
 */
.color-gold, %color-gold                 { background-color: $color-gold; }
.color-gray, %color-gray                 { background-color: $color-gray; }
.color-white, %color-white               { background-color: $color-white; }


/**
 * Secondary Colors
 */
.color-orange, %color-orange             { background-color: $color-orange; }



/**
 * Accent Colors
 */
.color-bright-blue, %color-bright-blue   { background-color: $color-bright-blue; }
.color-deep-blue, %color-deep-blue       { background-color: $color-deep-blue; }