/**
 * Primary Colors
 */
.cru-gold, %cru-gold                 { background-color: $cru-gold; }
.cru-gray, %cru-gray                 { background-color: $cru-gray; }
.white, %white                       { background-color: $white; }


/**
 * Secondary Colors
 */
.cru-orange, %cru-orange             { background-color: $cru-orange; }



/**
 * Accent Colors
 */
.cru-bright-blue, %cru-bright-blue   { background-color: $cru-bright-blue; }
.cru-deep-blue, %cru-deep-blue       { background-color: $cru-bright-blue; }