
@function em-calc($values, $context: $rem-base) {
    @return (strip-units($values) / $context) * 1em;
}

.inline-block, %inline-block    { display: inline-block; }


.flush, %flush                  { margin:        0!important; }
.flush--bottom, %flush--bottom  { margin-bottom: 0 !important; }
