.nav-is-open {
  display: none;
}

.nav .nav__item > .dropdown {

  & .grid{
    margin-left: -29px !important;
  }
  & .grid__item {
    padding-left: 29px !important;
    float: left !important;
    width: 33% \0;
  }

}