---
page-class: page--static
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>	
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <link rel="dns-prefetch" href="//use.typekit.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.ajax.googleapis.com.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//cdn.api.twitter.com">
  <link rel="dns-prefetch" href="//p.twitter.com">

  <!-- Prerender Necessary Pages -->
  <!-- <link rel="prerender" href="#"></link> -->

  <title>Cru</title>



  <!-- Load Stylesheets and fonts -->
  <script type="text/javascript">
    (function() {
    var config = {
    kitId: 'usb5wjy',
    scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>


  <link rel="stylesheet" href="{{ site.root }}style.min.css">	
	
	
  <link rel="shortcut icon" href="/icon.png">
  <meta name="apple-mobile-web-app-title" content="cru.org">
  <meta name="description" content="Cru helps people in every segment of society -- from students to athletes to families to business professionals -- truly follow Jesus Christ.">	
	
	
  <!-- Load Javascipt libraries the need to be at the top of the page -->
  <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
  <script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script>
</head>
<body class="page  page--home"></body>

	<div id="js-container"  class="js-container">
		
		<!-- .site-header -->
		<header class="site-header"  role="banner">
			<div class="navigation-wrapper">
				<hgroup class="title-group  site-logo">
					<a href="#"  title="Return to Homepage">
						<h1><span class="accessibility">Cru : a caring community passionate about connecting people to Jesus Christ</span></h1>
					</a>
				</hgroup>
				<a href="#off-canvas"  id="nav-open-btn"  class="topbar-toggle  topbar-open  nav-link  nav-link--full  position--absolute">Menu
					<i class="icon-hamburger"></i>
				</a>
			</div>
		</header>
		<!-- End .site-header -->
		
    
    <!-- .page-content -->
    <div class="page-content">  





    
    
    <!-- Footer Component -->
    <footer class="global-footer">    
      <hr class="section-divider">
      
      <!-- Social wrapper -->
      <div class="mb">      
        <!-- Social -->
        <div class="social  center-block">
          <ul class="nav">
            <li>
              <a class="social__item  social__item--twitter  icon-twitter" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--facebook  icon-facebook" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--gplus  icon-gplus" href="#" rel="external"></a>
            </li>
          </ul>
        </div> 
        <!-- End social-->
      </div>
      <!-- End social wrapper -->
      
      <nav role="supplementary">        
        <ul class="nav  flush--bottom">        
          <li>         
            <a href="/">Contact Us</a>        
          </li>        
          <li>         
            <a href="/">RSS Feed</a>        
          </li>        
          <li>          
            <a href="/">Press Room</a>        
          </li>        
          <li>          
            <a href="/">Careers</a>        
          </li>        
          <li>          
            <a href="/">Terms of Use</a>        
          </li>        
          <li>          
            <a href="/">Privary Policy</a>       
          </li>      
        </ul>    
      </nav>    
      <div class="copy">      
        <small>©1994-2014 Cru. All Rights Reserved.</small>    
      </div>  
    </footer>
    <!-- End footer component -->
    
    </div><!-- End .page-content -->
    
  </div><!-- End .js-container -->
	
	
	<!-- Navigation for off cnavas and primary navigaiton: This is at the very bottom of the page -->
		<nav  id="off-canvas" class="navigation  js-navigation">			
			<ul class="nav  right-nav  flush--bottom">
				<li class="nav__item">
					<a href="#signup">Sign Up</a>
				<li class="nav__item">
					<a href="#">Log In</a>
				</li>
	
				<li class="spoken-form  nav__item">
					<form class="site-search"  method="post" onsubmit=""  action="#" name="search">
						<input class="search-field  text-input" placeholder="Search" type="search" />
						<button class="search-button" value="" type="submit"><i class="icon-search"></i></button>
					</form>
				</li>
			</ul>						

			<ul class="nav  site-nav  flush--bottom">
				
				<!-- If the li has a dropdown add the .has-dropdown and .js-has-drowpdown classes -->
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">How to Know God</a>
					
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item  has-dropdown--sub  js-has-dropdown--sub  position--relative">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
					
				</li>
				<!--End .nav-link.has-dropdown-->
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Train & Grow</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Opportunities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">About</a>
							<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
								<ul class="nav  pe--">
			
							<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
									</li>							
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
									</li>
			
						    </ul>
							</div>
							<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Communities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Store</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Give</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
	
			</ul>
			<a href="#" id="nav-close-btn"  class="topbar-toggle  topbar-close">Close</a>
		</nav>

	        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	        <script>window.jQuery || document.write('<script src="assets/scripts/jquery-1.10.1.min.js"><\/script>')</script>
				
					<script src="{{ site.root }}main.min.js"></script>
					<script src="{{ site.root }}slider.min.js"></script>
          
		
	        <script>
	            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	            g.src='//www.google-analytics.com/ga.js';
	            s.parentNode.insertBefore(g,s)}(document,'script'));
	        </script>
	    </body>
	</html>
		