---
page-class: page--static
---
{% include head.html %}

<div id="js-container"  class="js-container">
		
		<!-- .site-header -->
			{% include header.html %}		
		<!-- End .site-header -->	
  
    
    <!-- .page-content -->
    <div class="page-content  pt"> 

    	<!-- Start community header -->
    	<div class="layout-single-column  center-block  layout--wide">
			
			<!-- Start community breadcrumbs -->
			<ul class="nav">
				<li>
					<a href= "#">Communities</a>
				</li>
				<li>
					<a href= "#">Cities</a>
				</li>
			</ul>
				
			<!-- Start community name -->
			<h1>New York Bacon Lovers</h1>
		</div>
		<div class="layout-single-column  center-block">
			<!-- Start community sub nav -->
			<ul class="nav  color-white  text--center">
				<li>
					<a href="#" class="nav-link">Stories</a>
				</li>
				<li>
					<a href="#" class="nav-link">Get Involved</a>
				</li>
				<li>
					<a href="#" class="nav-link">Events</a>
				</li>
				<li>
					<a href="#" class="nav-link">Calendar</a>
				</li>
				<li>
					<a href="#" class="nav-link">About</a>
				</li>
				<li>
					<a href="#" class="nav-link">Contact</a>
				</li>
			</ul>
		</div>
		<div class="layout-single-column  center-block  layout--wide">	
			<!-- Default community hero image -->
		    <figure>
		    	<a href="#">
			     	<img src="http://baconmockup.com/1200/400" alt="A Big Pile of Delicious Meats" title="A Big Pile of Delicious Meats" />
			     	<figcaption class="image__caption">Cum sociis natoque penatibus et magnis</figcaption>
		        </a>
		    </figure>
		  
  	  		<div class="grid">
  	  			<div class="grid__item  one-whole  media">
		        	<div class="color-white  p  mb">
		          		<div class="media__img">
		            		<img class="mb-" src="http://baconmockup.com/400/200" alt="Fabulous Story Photo" title="Fabulous Story Photo">
		          		</div>
		          		<div class="media__body  text--left">
		          			<h4>Fabulous Story</h4>
		          			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
		          			<a class="button  button--subtle" href="#">What happens next?</a>
		          		</div>
		        	</div>
	        	</div>
	      	</div>
	      	<div class="grid">
		   		<div class="grid__item  one-whole  media">
		        	<div class="color-white  p  mb">
		          		<div class="media__img">
	            			<img class="mb-" src="http://baconmockup.com/200/200" alt="Jimmy's broken heart photo" title="Jimmy's broken heart photo">
		          		</div>
		          		<div class="media__body  text--left">
		          			<h4>Heart Tug Story</h4>
		          			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
		          			<a class="button  button--subtle" href="#">Jimmy responded by&#46;&#46;&#46;</a>
		          		</div>
		        	</div>
		        </div>
	      	</div>
	      	
	      	<!--Start of Get Involved-->
	      	<div class="center-block  mt  mb">
	     		<h2 class= "callout">Get Involved</h2>
	     	</div>
		     
	     	<div class="grid">
		     	<div class= "grid__item  desk--one-quarter  lap--one-half  button-group">
		     		<button class= "button  button--primary  full-width">Find a Lunch or Supper Group</button>
		     	</div>
	     	
	     		<div class= "grid__item  desk--one-quarter  lap--one-half  button-group">
	     			<button class= "button  button--primary  full-width">Get Started in Personally Cooking with Bacon</button>
	     		</div>

		     	<div class= "grid__item  desk--one-quarter  lap--one-half  button-group">
		     		<button class= "button  button--primary  full-width">Taste Testing</button>
		     	</div>
	     	
	     		<div class= "grid__item  desk--one-quarter  lap--one-half  button-group">
	     			<button class= "button  button--primary  full-width">Competition Cooking</button>
	     		</div>
	     	</div>
	    	
		     
		    <!--Start of Events Calendar-->	
		    <div class="center-block  mt  mb">
	     		<h2 class= "callout">Events</h2>
	     	</div>
		 
		    <div class="grid">
		    	<div class="grid__item  one-whole  desk--one-quarter">
		    		<div class="pattern text--center  mb-">
						<h4 class="text-white  color-gray  mb--">Sunday</h4>
		    			<h3 class="m--">May 11</h3>	
				    </div>
		    	</div>
		   
		    	<div class="grid__item  desk--three-quarters">	
		    		<div class="pattern text--left">
		    			<table class="mb0">
							<tbody>
								<tr>
									<td>6&#58;30&#45;8&#58;30 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Book of John Study</li>
											<li>Location&#58;&#32;Wesley Hall, Rm 201</li>
											<li>Contact&#58;&#32;Terry Daffron</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>7&#45;8 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Women of Faith</li>
											<li>Location&#58;&#32;Student Union, Ballroom 2</li>
											<li>Contact&#58;&#32;Teri Daffron</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
 			</div>
 			<div class="grid">
		    	<div class="grid__item  desk--one-quarter">
		    		<div class="pattern text--center  mb-">
		    			<h4 class="text-white  color-gray  mb--">Monday</h4>
		    			<h3 class="m--">May 12</h3>
		    		</div>
		    	</div>

				<div class="grid__item  desk--three-quarters">	
		    		<div class="pattern text--left">
		    			<table class="mb0">
							<tbody>
								<tr>
									<td>6&#45;7&#58;30 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Cru Weekly Meeting</li>
											<li>Location&#58;&#32;Johnson Auditorium</li>
											<li>Contact&#58;&#32;Staff Member</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="grid__item  desk--one-quarter">
		    		<div class="pattern text--center  mb-">
		    			<h4 class="text-white  color-gray  mb--">Wednesday</h4>
		    			<h3 class="m--">May 14</h3>
		    		</div>
		    	</div>
		    
		    	<div class="grid__item  desk--three-quarters">	
		    		<div class="pattern text--left">
		    			<table class="mb0">
							<tbody>
								<tr>
									<td>6&#58;30&#45;8&#58;30 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Ladies Bible Study A</li>
											<li>Location&#58;&#32;Allison Hall, Group Room</li>
											<li>Contact&#58;&#32;Sally May</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>6&#58;30&#45;8&#58;30 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Ladies Bible Study D</li>
											<li>Location&#58;&#32;Beckley Hall, Group Room</li>
											<li>Contact&#58;&#32;Susie Que</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>7&#45;8 PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Men of Courage</li>
											<li>Location&#58;&#32;Flex Hall Auditorium</li>
											<li>Contact&#58;&#32;Jim Heavy</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="grid__item  desk--one-quarter">
		    		<div class="pattern text--center  mb-">
		    			<h4 class="text-white  color-gray  mb--">Friday</h4>
		    			<h3 class="m--">May 16</h3>
		    		</div>
		    	</div>

				<div class="grid__item  desk--three-quarters">	
		    		<div class="pattern text--left">
						<table class="mb0">
							<tbody>
								<tr>
									<td>6&#45;PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Parade Float Building</li>
											<li>Location&#58;&#32;Lee Franklin Stadium</li>
											<li>Contact&#58;&#32;Event Chairperson</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="grid">
				<div class="grid__item  desk--one-quarter">
		    		<div class="pattern text--center  mb-">
		    			<h4 class="text-white  color-gray  mb--">Saturday</h4>
		    			<h3 class="m--">May 17</h3>
		    		</div>
		    	</div>
				<div class="grid__item  desk--three-quarters">	
		    		<div class="pattern text--left">
						<table class="mb0">
							<tbody>

								<tr>
									<td>8&#45;AM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Parade Float Building</li>
											<li>Location&#58;&#32;Lee Franklin Stadium</li>
											<li>Contact&#58;&#32;Event Chairperson</li>
											<li>Phone&#58;&#32;&#40;555&#41;555&#45;5555</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>1&#45;PM</td>
									<td>
										<ul class="bare-list">
											<li>Event&#58;&#32;Parade</li>
											<li>Location&#58;&#32;Main Street&#58; In front of Green's Arts Supply</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
		    		</div>	
		    	</div>
		    </div>
		
		
			<div class="grid">
		      	<div class="grid__item  text--center  one-whole  desk--one-third">
	    			<div class="m--  p--  color-white">
	      				<div class="action-icons">
	        				<img class="mb-" src="{{ site.root }}assets/images/cru-icon-students.svg" alt="Soularium on Campus"/>
	      				</div>
	        			<h4 class="mb0">Contact</h4>
	        			<p class="text--left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			            <a class="button  button--subtle" href="#">Read More</a>
	    			</div>
				</div>

	  			<div class="grid__item  text--center  one-whole  desk--one-third">
	    			<div class="m--  p--  color-white">
	      				<div class="action-icons">
	        				<img class="mb-" src="{{ site.root }}assets/images/cru-icon-families.svg" alt="Marriage Turnaround">
	      				</div>
	      				<h4 class="mb0">About</h4>
	      				<p class="text--left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
	      				<a class="button  button--subtle" href="#">Read More</a>
	    			</div>
	  			</div>

		      	<div class="grid__item  text--center  one-whole  desk--one-third">
		        	<div class="m-- p-- color-white">
		          		<div class="action-icons">
		            		<img class="mb-" src="{{ site.root }}assets/images/cru-icon-cities.svg" alt="Uniquely Gifted (image)">
		          		</div>
		          		<h4 class="mb0">Bacon Lovers Alumni</h4>
		          		<p class="text--left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
		          		<a class="button  button--subtle" href="#">Read More</a>
		        	</div>
		     	</div>
		    </div>
		</div>
	</div>								
		    
	
  	

    <!-- Footer Component -->
    <footer class="global-footer">    
      <hr class="section-divider">
      
      <!-- Social wrapper -->
      <div class="mb">      
        <!-- Social -->
        <div class="social  center-block">
          <ul class="nav">
            <li>
              <a class="social__item  social__item--twitter  icon-twitter" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--facebook  icon-facebook" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--gplus  icon-gplus" href="#" rel="external"></a>
            </li>
          </ul>
        </div> 
        <!-- End social-->
      </div>
      <!-- End social wrapper -->
      
      <nav role="supplementary">        
        <ul class="nav  flush--bottom">        
          <li>         
            <a href="#">Contact Us</a>        
          </li>        
          <li>         
            <a href="#">RSS Feed</a>        
          </li>        
          <li>          
            <a href="#">Press Room</a>        
          </li>        
          <li>          
            <a href="/">Careers</a>        
          </li>        
          <li>          
            <a href="#">Terms of Use</a>        
          </li>        
          <li>          
            <a href="#">Privary Policy</a>       
          </li>      
        </ul>    
      </nav>    
      <div class="copy">      
        <small>©1994-2014 Cru. All Rights Reserved.</small>    
      </div>  
    </footer>
    <!-- End footer component -->
    
    </div><!-- End .page-content -->
    
  </div><!-- End .js-container -->
	
	
	<!-- Navigation for off cnavas and primary navigaiton: This is at the very bottom of the page -->
		<nav  id="off-canvas" class="navigation  js-navigation">			
			<ul class="nav  right-nav  flush--bottom">
				<li class="nav__item">
					<a href="#signup">Sign Up</a>
				<li class="nav__item">
					<a href="#">Log In</a>
				</li>
	
				<li class="spoken-form  nav__item">
					<form class="site-search"  method="post" onsubmit=""  action="#" name="search">
						<input class="search-field  text-input" placeholder="Search" type="search" />
						<button class="search-button" value="" type="submit"><i class="icon-search"></i></button>
					</form>
				</li>
			</ul>						

			<ul class="nav  site-nav  flush--bottom">
				
				<!-- If the li has a dropdown add the .has-dropdown and .js-has-drowpdown classes -->
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">How to Know God</a>
					
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item  has-dropdown--sub  js-has-dropdown--sub  position--relative">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
					
				</li>
				<!--End .nav-link.has-dropdown-->
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Train & Grow</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Opportunities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">About</a>
							<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
								<ul class="nav  pe--">
			
							<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
									</li>							
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
									</li>
			
						    </ul>
							</div>
							<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Communities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Store</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Give</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
	
			</ul>
			<a href="#" id="nav-close-btn"  class="topbar-toggle  topbar-close">Close</a>
		</nav>

{% include footer.html %}
		