---
layout: fundamental
title: Pattern Primer
---
{% include header.html %}

<div class="content-slider">
  <div class="slider">

    <!-- .mask -->
    <div class="mask">
      <ul>
        <li  class="slider__item  slider--main  animate--first js-at-bat">
          <a href="#camera">
            <div class="block-image">
              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_01.jpg')"></div>
            </div>
            <div class="article-details">
              <a href="#camera">
                <h3>6 Things Every Christian Should Do Super Bowl Weekend</h3>
              </a>
              <div class="sub-details">
                <a href="#camera-author"  class="author">I am an author</a>
                <span class="subheading">National</span>
              </div>
            </div>
          </a>
        </li>
        <li  class="slider__item  slider--second  animate--second  js-on-deck">
          <a href="#birds">
            <div class="block-image">
              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_02.jpg')"></div>
            </div>
            <div class="article-details">
              <a href="#birds">
                <h3>Emma Had a Burden of Guilt and a Masking Smile</h3>
              </a>
              <div class="sub-details">
                <a href="#birds-author"  class="author">I am an author</a>
                <span class="subheading">City</span>
              </div>
            </div>
          </a>

        </li>
        <li  class="slider__item  slider--next  animate--third js-in-the-hole">
          <a href="#train">
            <div class="block-image">
              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_03.jpg')"></div>
            </div>
            <div class="article-details">
              <a href="#train">
                <h3>Pre-cancer Susie's Journey of Doubt Before a Brain Tumor</h3>
              </a>
              <div class="sub-details">
                <a href="#train-author"  class="author">I am an author</a>
                <span class="subheading">National</span>
              </div>
            </div>
          </a>
        </li>
        <li  class="slider__item  slider--last  animate--fourth js-last-up">
          <a href="#tea">
            <div class="block-image">
              <div class="background-image" style="background-image: url('{{ site.root }}assets/images/cru640x360_story_04.jpg')"></div>
            </div>
            <div class="article-details">
              <a href="#tea">
                <h3>Yes, It's Possible to Have a Long-Distance Ministry</h3>
              </a>
              <div class="sub-details">
                <a href="#tea-author"  class="author">I am an author</a>
                <span class="subheading">Regional</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- end .mask -->
  </div>

  <!-- .slider--controls -->
  <a class="slider-control  slider-control__prev">
				<span class="slider-control--btn">
					<i class="icon-left-arrow"></i>
				</span>
  </a>
  <a class="slider-control  slider-control__next">
				<span class="slider-control--btn">
					<i class="icon-right-arrow"></i>
				</span>
  </a>
</div>

{% include footer.html %}